aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
APScheduler==3.10.4
asgiref==3.8.1
attrs==23.2.0
boto3==1.34.142
botocore==1.34.144
Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
coolsms_python_sdk==2.0.3
cycler==0.12.1
dataclasses-json==0.6.7
Django==5.0.6
django-apscheduler==0.6.2
filelock==3.15.4
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
greenlet==3.0.3
idna==3.7
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.5
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.2
langsmith==0.1.85
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.1
mpmath==1.3.0
multidict==6.0.5
mutagen==1.47.0
mypy-extensions==1.0.0
networkx==3.3
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1668919100763/work
opencv-python==4.10.0.84
orjson==3.10.6
packaging==23.2
pandas==2.2.2
pillow==10.4.0
psutil==6.0.0
py-cpuinfo==9.0.0
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
s3transfer==0.10.2
scikit-learn==1.2.2
scipy==1.14.0
seaborn==0.13.2
six==1.16.0
SQLAlchemy==2.0.31
sqlparse==0.5.0
sympy==1.13.0
tenacity==8.5.0
threadpoolctl==3.5.0
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ultralytics==8.2.42
ultralytics-thop==2.0.0
urllib3==2.2.2
websockets==12.0
yarl==1.9.4
yt-dlp==2024.5.27