{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>해양안전</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico'%}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css'%}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
       
<div id="vmap" style="width:100vw;height:100vh;left:0px;top:0px">
</div> 
<script type="text/javascript" src="http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0
&apiKey=80973894-487D-3977-BA22-621594681047&domain=www.test.com/map.html"></script> 
<script type="text/javascript">

vw.ol3.CameraPosition.center = [14256762.437870322, 4360039.299660016];
vw.ol3.CameraPosition.zoom =8;
                                        //지도의 초기 위치값을 설정

vw.ol3.MapOptions = {
 
  basemapType: vw.ol3.BasemapType.GRAPHIC_NIGHT
, controlDensity: vw.ol3.DensityType.EMPTY
, interactionDensity: vw.ol3.DensityType.BASIC
, controlsAutoArrange: true
, homePosition: vw.ol3.CameraPosition
, initPosition: vw.ol3.CameraPosition
};

let vmap = new vw.ol3.Map("vmap",  vw.ol3.MapOptions); 

var context = JSON.parse('{{ contextjson | escapejs }}');

//['GYEONGPO', 'GORAEBUL','NAKSAN','DAECHON','MANGSANG','SOKCHO','SONGJUNG','IMRANG','JUNGMUN','HAE']
var GYEONGPO_score_msg = context.GYEONGPO_score_msg;
var GORAEBUL_score_msg = context.GORAEBUL_score_msg;
var NAKSAN_score_msg = context.NAKSAN_score_msg;
var DAECHON_score_msg = context.DAECHON_score_msg;
var MANGSANG_score_msg = context.MANGSANG_score_msg;
var SOKCHO_score_msg = context.SOKCHO_score_msg;
var SONGJUNG_score_msg = context.SONGJUNG_score_msg;
var IMRANG_score_msg = context.IMRANG_score_msg;
var JUNGMUN_score_msg = context.JUNGMUN_score_msg;
var HAE_score_msg = context.HAE_score_msg;

var GYEONGPO_lon = context.GYEONGPO_lon;
var GORAEBUL_lon = context.GORAEBUL_lon;
var NAKSAN_lon = context.NAKSAN_lon;
var DAECHON_lon = context.DAECHON_lon;
var MANGSANG_lon = context.MANGSANG_lon;
var SOKCHO_lon = context.SOKCHO_lon;
var SONGJUNG_lon = context.SONGJUNG_lon;
var IMRANG_lon = context.IMRANG_lon;
var JUNGMUN_lon = context.JUNGMUN_lon;
var HAE_lon = context.HAE_lon;


var GYEONGPO_lat = context.GYEONGPO_lat;
var GORAEBUL_lat = context.GORAEBUL_lat;
var NAKSAN_lat = context.NAKSAN_lat;
var DAECHON_lat = context.DAECHON_lat;
var MANGSANG_lat = context.MANGSANG_lat;
var SOKCHO_lat = context.SOKCHO_lat;
var SONGJUNG_lat = context.SONGJUNG_lat;
var IMRANG_lat = context.IMRANG_lat;
var JUNGMUN_lat = context.JUNGMUN_lat;
var HAE_lat = context.HAE_lat;
var RIP_api_time = context.RIP_api_time;

var beaches = [
    { name: '경포대 해수욕장', score_msg: context.GYEONGPO_score_msg, status: context.GYEONGPO_score_msg },
    { name: '고래불 해수욕장', score_msg: context.GORAEBUL_score_msg, status: context.GORAEBUL_score_msg },
    { name: '낙산 해수욕장', score_msg: context.NAKSAN_score_msg, status: context.NAKSAN_score_msg },
    { name: '대천 해수욕장', score_msg: context.DAECHON_score_msg, status: context.DAECHON_score_msg },
    { name: '망상 해수욕장', score_msg: context.MANGSANG_score_msg, status: context.MANGSANG_score_msg },
    { name: '속초 해수욕장', score_msg: context.SOKCHO_score_msg, status: context.SOKCHO_score_msg },
    { name: '송정 해수욕장', score_msg: context.SONGJUNG_score_msg, status: context.SONGJUNG_score_msg },
    { name: '임랑 해수욕장', score_msg: context.IMRANG_score_msg, status: context.IMRANG_score_msg },
    { name: '중문 해수욕장', score_msg: context.JUNGMUN_score_msg, status: context.JUNGMUN_score_msg },
    { name: '해운대 해수욕장', score_msg: context.HAE_score_msg, status: context.HAE_score_msg }
];

function insertData() {
    var alarmContainer = document.getElementById('alarm-container');
    var RIP_api_time_html = document.getElementById('api-time-html');
    RIP_api_time_html.textContent = '경고알람 ' + RIP_api_time;

    beaches.forEach(function(beach, index) {
        if (beach.status === '경계' || beach.status === '위험') {
            var div = document.createElement('div');
            div.className = 'textbox';
            div.innerHTML = '<h5>' + beach.name + '</h5>' + beach.score_msg ;
            alarmContainer.appendChild(div);
        }
    });

    if (alarmContainer.children.length === 0) {
        var div = document.createElement('div');
        div.className = 'textbox';
        div.innerHTML = '<p>현재 경계나 위험인 해수욕장이 없습니다.</p>';
        alarmContainer.appendChild(div);
    }
}

window.onload = insertData;


//마커찍기
var markerLayer = new vw.ol3.layer.Marker(vmap); 
vmap.addLayer(markerLayer);
//마커 레이어 생성


// 팝업 엘리먼트
var popup = document.getElementById('popup');

// 마커 생성 함수
function createMarker(id, x, y, epsg, title, contents, iconUrl) {
    var markerOption = {
        x: x,
        y: y,
        epsg: epsg,
        title: title,
        contents: contents,
        iconUrl: iconUrl,
        attr: { id: id }
    };
    var marker = markerLayer.addMarker(markerOption);

    // 마커 클릭 이벤트 추가
    marker.on('click', function(evt) {
        popup.innerHTML = contents;
        popup.style.display = 'block';
        popup.style.left = evt.pixel[0] + 'px';
        popup.style.top = evt.pixel[1] + 'px';
    });

    return markerOption;
}

// 마커 상태 업데이트 함수
function updateMarkerIcon(marker, imgUrl) {
    marker.iconUrl = imgUrl;
    markerLayer.removeMarker(marker);
    markerLayer.addMarker(marker);
}

// 색상을 결정 함수
function getColorScoreMsg(score_msg) { 
    switch (score_msg) {
        case "관심":
            return '/static/img/green1.png';
        case "주의":
            return '/static/img/yellow1.png';
        case "경계":
            return '/static/img/oring1.png';
        case "위험":
            return '/static/img/red1.png';
        case "NaN": //API에 정보가 없을떄
            return '/static/img/white1.png';
        default:
            return "/static/img/white1.png"; // 예외 처리 
    }
}

// 여러 마커 추가
var markerData = [
    { id: 'marker1', x: GYEONGPO_lon, y: GYEONGPO_lat, epsg: 'EPSG:4326', title: '경포 해수욕장', contents: GYEONGPO_score_msg, iconUrl: getColorScoreMsg(GYEONGPO_score_msg) },
    { id: 'marker2', x: GORAEBUL_lon, y: GORAEBUL_lat, epsg: 'EPSG:4326', title: '고래불 해수욕장', contents: GORAEBUL_score_msg, iconUrl: getColorScoreMsg(GORAEBUL_score_msg) },
    { id: 'marker3', x: NAKSAN_lon, y: NAKSAN_lat, epsg: 'EPSG:4326', title: '낙산 해수욕장', contents: NAKSAN_score_msg, iconUrl: getColorScoreMsg(NAKSAN_score_msg) },
    { id: 'marker4', x: DAECHON_lon, y: DAECHON_lat, epsg: 'EPSG:4326', title: '대천 해수욕장', contents: DAECHON_score_msg, iconUrl: getColorScoreMsg(DAECHON_score_msg) },
    { id: 'marker5', x: MANGSANG_lon, y: MANGSANG_lat, epsg: 'EPSG:4326', title: '망상 해수욕장', contents: MANGSANG_score_msg, iconUrl: getColorScoreMsg(MANGSANG_score_msg) },
    { id: 'marker6', x: SOKCHO_lon, y: SOKCHO_lat, epsg: 'EPSG:4326', title: '속초 해수욕장', contents: SOKCHO_score_msg, iconUrl: getColorScoreMsg(SOKCHO_score_msg) },
    { id: 'marker7', x: SONGJUNG_lon, y: SONGJUNG_lat, epsg: 'EPSG:4326', title: '송정 해수욕장', contents: SONGJUNG_score_msg, iconUrl: getColorScoreMsg(SONGJUNG_score_msg) },
    { id: 'marker8', x: IMRANG_lon, y: IMRANG_lat, epsg: 'EPSG:4326', title: '임랑 해수욕장', contents: IMRANG_score_msg, iconUrl: getColorScoreMsg(IMRANG_score_msg) },
    { id: 'marker9', x: JUNGMUN_lon, y: JUNGMUN_lat, epsg: 'EPSG:4326', title: '중문 해수욕장', contents: JUNGMUN_score_msg, iconUrl: getColorScoreMsg(JUNGMUN_score_msg) },
    { id: 'marker10', x: HAE_lon, y: HAE_lat, epsg: 'EPSG:4326', title: '해운대 해수욕장', contents: HAE_score_msg, iconUrl: getColorScoreMsg(HAE_score_msg) },
];


var markers = {};

markerData.forEach(function(marker) {
    markers[marker.id] = createMarker(marker.id, marker.x, marker.y, marker.epsg, marker.title, marker.contents, marker.iconUrl);
});

// 주기적으로 마커 아이콘 업데이트
$(document).ready(function() {
    function fetchApiTime() {
        $.ajax({
            url: '/control/', 
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                var GYEONGPO_score_msg = data.GYEONGPO_score_msg;
                var GORAEBUL_score_msg = data.GORAEBUL_score_msg;
                var NAKSAN_score_msg = data.NAKSAN_score_msg;
                var DAECHON_score_msg = data.DAECHON_score_msg;
                var MANGSANG_score_msg = data.MANGSANG_score_msg;
                var SOKCHO_score_msg = data.SOKCHO_score_msg;
                var SONGJUNG_score_msg = data.SONGJUNG_score_msg;
                var IMRANG_score_msg = data.IMRANG_score_msg;
                var JUNGMUN_score_msg = data.JUNGMUN_score_msg;
                var HAE_score_msg = data.HAE_score_msg;

                $('#GYEONGPO_score_msg').text(GYEONGPO_score_msg);
                $('#GORAEBUL_score_msg').text(GORAEBUL_score_msg);
                $('#NAKSAN_score_msg').text(NAKSAN_score_msg);
                $('#DAECHON_score_msg').text(DAECHON_score_msg);
                $('#MANGSANG_score_msg').text(MANGSANG_score_msg);
                $('#SOKCHO_score_msg').text(SOKCHO_score_msg);
                $('#SONGJUNG_score_msg').text(SONGJUNG_score_msg);
                $('#IMRANG_score_msg').text(IMRANG_score_msg);
                $('#JUNGMUN_score_msg').text(JUNGMUN_score_msg);
                $('#HAE_score_msg').text(HAE_score_msg);


                $('#api-time-html').text(data.RIP_api_time); 
                
                // alarmContainer 업데이트
                var alarmContainer = $('#alarm-container');
                alarmContainer.empty(); // 기존 내용을 비웁니다.

                // 경고 메시지 업데이트
                var beaches = [
                    {name: '경포대 해수욕장', score_msg: GYEONGPO_score_msg, status: GYEONGPO_score_msg},
                    {name: '고래불 해수욕장', score_msg: GORAEBUL_score_msg, status: GORAEBUL_score_msg},
                    {name: '낙산 해수욕장', score_msg: NAKSAN_score_msg, status: NAKSAN_score_msg},
                    {name: '대천 해수욕장', score_msg: DAECHON_score_msg, status: DAECHON_score_msg},
                    {name: '망상 해수욕장', score_msg: MANGSANG_score_msg, status: MANGSANG_score_msg},
                    {name: '속초 해수욕장', score_msg: SOKCHO_score_msg, status: SOKCHO_score_msg},
                    {name: '송정 해수욕장', score_msg: SONGJUNG_score_msg, status: SONGJUNG_score_msg},
                    {name: '임랑 해수욕장', score_msg: IMRANG_score_msg, status: IMRANG_score_msg},
                    {name: '중문 해수욕장', score_msg: JUNGMUN_score_msg, status: JUNGMUN_score_msg},
                    {name: '해운대 해수욕장', score_msg: HAE_score_msg, status: HAE_score_msg},
                ];


            
                beaches.forEach(function(beach) {
                    if (beach.status === '경계' || beach.status === '위험') {
                        var div = $('<div>').addClass('textbox');
                        div.html('<h5>' + beach.name + '</h5>' + beach.score_msg);
                        alarmContainer.append(div);
                    }
                });

                if (alarmContainer.children().length === 0) {
                    var div = $('<div>').addClass('textbox');
                    div.html('<p>현재 경계나 위험인 해수욕장이 없습니다.</p>');
                    alarmContainer.append(div);
                }
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
    }

    // 페이지 로드 시 API 가져오기
    fetchApiTime();

    // 1분 마다 API  업데이트
    setInterval(fetchApiTime, 60000);
});
</script>

<div class="logo">
<a href="{% url 'home' %}"><img src="{% static 'img/logo_new1.png' %}" style="width:90px; height:100px; top: 10%" ></i></a>      
</div> 

<div class="nav-buttons">
    <a href="{% url 'signin' %}"><img src="{% static 'img/logout_24dp.png' %}"style="width: 40px; height: 40px;"></a>
    <a href="{% url 'myprofile' %}"><img src="{% static 'img/face_24dp.png' %}" style="width: 40px; height: 40px;"></a>  
</div>

<div class="side-buttons">
    <a href="#"class="btn btn-primary"title="119"data-toggle="modal"data-target="#myModal"><i class="fa fa-phone"></i></a>  
    <a href="#"class="btn btn-primary"title="해군"data-toggle="modal"data-target="#myModal"><i class="fa fa-anchor"></i></a>
    <a href="#" class="btn btn-primary" title="모의훈련" data-toggle="modal" data-target="#myModal2"><i class="fa fa-file-alt"></i></a>
    <a href="#" class="btn btn-secondary" title="기상예보" data-toggle="modal" data-target="#myModal3"><i class="fa fa-cloud-sun"></i></a>
    <a href="#" class="btn btn-secondary" title="CCTV" data-toggle="modal" data-target="#CCTV_modal"><i class="fa fa-video"></i></a>
</div>

{% comment %} CCTV 모달창 {% endcomment %}
<div class="modal" id="CCTV_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">해당 CCTV 팝업창</h6>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                해수욕장 선택
                            </button>
                            <ul id="beach-list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for beach in beaches %}
                                    {% for cctv in cctvs %}
                                        {% if cctv.beach_no_id == beach.beach_no %}
                                            <li><a class="dropdown-item" onclick="loadCCTV('{{ cctv.cctv_url }}')">{{ beach.beach_name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        <iframe id="cctv-frame" width="1000" height="650" frameborder="0" allowfullscreen></iframe>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleSearch() {
        const toggleKey = document.querySelector('.toggle-key');
        const beachList = document.getElementById('beach-list');
        toggleKey.classList.toggle('active');
        if (beachList.style.display === 'none' || beachList.style.display === '') {
            beachList.style.display = 'block';
        } else {
            beachList.style.display = 'none';
        }
    }

    function loadCCTV(url) {
        document.getElementById('cctv-frame').src = url;
    }
</script>

<!-- 119/해군 모달버튼 시작 -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">신고 접수 하시겠습니까?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
            </div>
            <!-- Modal footer -->
            <button class="btn btn-info dropdown-toggle" type="button" id="toggle-button" data-bs-toggle="dropdown" aria-expanded="false">
                구분
            </button>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button type="button" class="btn btn-success beach-btn" data-beach-name="고래불해수욕장">고래불해수욕장</button>
                    <button type="button" class="btn btn-success beach-btn" data-beach-name="낙산해수욕장">낙산해수욕장</button>
                    <button type="button" class="btn btn-success beach-btn" data-beach-name="대천해수욕장">대천해수욕장</button>
                    <button type="button" class="btn btn-success beach-btn" data-beach-name="망상해수욕장">망상해수욕장</button>
                    <button type="button" class="btn btn-success beach-btn" data-beach-name="속초해수욕장">속초해수욕장</button>
                    <button type="button" class="btn btn-success beach-btn" data-beach-name="송정해수욕장">송정해수욕장</button>
                    <button type="button" class="btn btn-success beach-btn" data-beach-name="임랑해수욕장">임랑해수욕장</button>
                    <button type="button" class="btn btn-success beach-btn" data-beach-name="중문해수욕장">중문해수욕장</button>
                    <button type="button" class="btn btn-success beach-btn" data-beach-name="해운대해수욕장">해운대해수욕장</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
                </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('.beach-btn').on('click', function() {
        var beachName = $(this).data('beach-name');
        alert('메시지 전송합니다: ' + beachName);
        $.ajax({
            url: "{% url 'control:send_sms' %}",
            type: 'POST',
            data: {
                'beach_name': beachName
            },
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'success') {
                    alert('메시지 전송에 성공했습니다.');
                } else {
                    alert('메시지 전송에 실패했습니다: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('메시지 전송 중 오류가 발생했습니다: ' + error);
            }
        });
        $('#myModal').modal('hide');
    });
</script>
<!-- 119/해군 모달버튼 끝 -->

    <!-- 모의훈련 모달 -->
    <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                
                    <div class="container-fluid pt-4 px-4">
                        <div class="row">
                            <!-- Chat Box Start -->
                            <div class="col-sm-12 col-md-6 mb-4">
                                <div class="bg-light text-center rounded p-4 h-100">
                                    <h6 class="mb-4">해양안전 시나리오 챗봇</h6>
                                    <div class="chat-box">
                                        <div class="chat-content" style="height: 400px; overflow-y: scroll;">
                                            <!-- 채팅 메시지 -->
                                        </div>
                                        <div class="input-group mt-3">
                                            <input type="text" class="form-control" placeholder="메시지 입력">
                                            <button class="btn btn-primary">전송</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Chat Box End -->
        
                            <!-- Evaluation Box Start -->
                            <div class="col-sm-12 col-md-6 mb-4">
                                <div class="bg-light text-center rounded p-4 h-100">
                                    <h6 class="mb-4">평가 항목</h6>
                                    <div class="evaluation-box">
                                        <div class="form-group mb-3">
                                            <label for="timeTaken">걸린 시간</label>
                                            <input type="text" id="timeTaken" class="form-control">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="accuracy">정확도</label>
                                            <input type="text" id="accuracy" class="form-control">
                                        </div>
                                        <!-- 추가 평가 항목 -->
                                    </div>
                                </div>
                            </div>
                            <!-- Evaluation Box End -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="weatherForecastBtn">확인</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
                    </div>

            </div>
        </div>
    </div>
    <!-- 경고알림 창 이안류 3,4(경계, 위험) 단계에 해당할 경우에만 뜸 -->
    <body>
        <div class="warn-alarm" style="overflow-y: scroll;">
            <h5 id="api-time-html">경고알람</h5>
            <div id="alarm-container"></div>
        </div>
    </body>

    <!-- 기상예보 모달 -->
    <div class="modal" id="myModal3">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="container-fluid pt-4 px-4">
                    <div class="dropdown me-2">
                        <button class="btn btn-info dropdown-toggle" type="button" id="toggle-button" data-bs-toggle="dropdown" aria-expanded="false">
                            구분
                        </button>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button>고래불해수욕장</button>
                                <button>낙산해수욕장</button>
                                <button>대천해수욕장</button>
                                <button>망상해수욕장</button>
                                <button>속초해수욕장</button>
                                <button>송정해수욕장</button>
                                <button>임랑해수욕장</button>
                                <button>중문해수욕장</button>
                                <button>해운대해수욕장</button>
                            </div>
                    <div class="row g-4">
                        
                        <div class="bg-light text-center rounded p-4">
                            
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">날씨 이미지 정보 박스</h6>
                            </div>
                            <img src="{% static 'img/weather_image.png' %}" alt="Weather Image" style="width: 100%; height: auto;">
                        </div>
    
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">날씨 텍스트 정보 박스</h6>
                            </div>
                            <p>🌏 현재 날씨: {{ weather_data.weather_of_today }}</p>
                            <p>🌡️ 현재 기온: {{ weather_data.temperature }}°C</p>
                            <p>💧 1시간 강수량: {{ weather_data.rainfall }}mm</p>
                            <p>🌬️ 동서바람성분: {{ weather_data.wind_ew }}m/s</p>
                            <p>🌬️ 남북바람성분: {{ weather_data.wind_ns }}m/s</p>
                            <p>💦 습도: {{ weather_data.humidity }}%</p>
                            <p>🌧️ 강수 형태: {{ weather_data.precipitation }}</p>
                            <p>🧭 풍향: {{ weather_data.wind_direction }}°</p>
                            <p>💨 풍속: {{ weather_data.wind_speed }}m/s</p>
                            <p>🔎 관측 지점: 해운대 해수욕장</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="weatherForecastBtn">확인</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    

    <script>
        // 모의훈련 버튼 이벤트
        document.getElementById('mockTrainingBtn').addEventListener('click', function() {
            alert('모의훈련을 시작합니다.');
            $('#myModal2').modal('hide');
        });

        // 기상예보 버튼 이벤트
        document.getElementById('weatherForecastBtn').addEventListener('click', function() {
            alert('기상예보를 확인합니다.');
            $('#myModal3').modal('hide');
        });
    </script>


{% comment %} 날씨창 토글키 js {% endcomment %}
    <script>
        const toggleButton = document.getElementById('toggle-button');
        const toggleContainer = document.querySelector('.toggle-container');

        toggleButton.addEventListener('click', () => {
            if (toggleContainer.style.display === 'none' || toggleContainer.style.display === '') {
                toggleContainer.style.display = 'block';
            } else {
                toggleContainer.style.display = 'none';
            }
        });
    </script>


</div>
        <!-- Back to Top -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/chart/chart.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js'%}"></script>
</body>
    


</html>


