{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>해양안전</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico'%}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css'%}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
       
<div id="vmap" style="width:100vw;height:100vh;left:0px;top:0px">
</div> 
<script type="text/javascript" src="http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0
&apiKey=80973894-487D-3977-BA22-621594681047&domain=www.test.com/map.html"></script> 
<script type="text/javascript">

vw.ol3.CameraPosition.center = [14256762.437870322, 4360039.299660016];
vw.ol3.CameraPosition.zoom =8;
                                        //지도의 초기 위치값을 설정

vw.ol3.MapOptions = {
 
  basemapType: vw.ol3.BasemapType.GRAPHIC
, controlDensity: vw.ol3.DensityType.EMPTY
, interactionDensity: vw.ol3.DensityType.BASIC
, controlsAutoArrange: true
, homePosition: vw.ol3.CameraPosition
, initPosition: vw.ol3.CameraPosition
};

let vmap = new vw.ol3.Map("vmap",  vw.ol3.MapOptions); 

var context = JSON.parse('{{ contextjson | escapejs }}');

//['GYEONGPO', 'GORAEBUL','NAKSAN','DAECHON','MANGSANG','SOKCHO','SONGJUNG','IMRANG','JUNGMUN','HAE']
var GYEONGPO_score_msg = context.GYEONGPO_score_msg;
var GORAEBUL_score_msg = context.GORAEBUL_score_msg;
var NAKSAN_score_msg = context.NAKSAN_score_msg;
var DAECHON_score_msg = context.DAECHON_score_msg;
var MANGSANG_score_msg = context.MANGSANG_score_msg;
var SOKCHO_score_msg = context.SOKCHO_score_msg;
var SONGJUNG_score_msg = context.SONGJUNG_score_msg;
var IMRANG_score_msg = context.IMRANG_score_msg;
var JUNGMUN_score_msg = context.JUNGMUN_score_msg;
var HAE_score_msg = context.HAE_score_msg;

var GYEONGPO_lon = context.GYEONGPO_lon;
var GORAEBUL_lon = context.GORAEBUL_lon;
var NAKSAN_lon = context.NAKSAN_lon;
var DAECHON_lon = context.DAECHON_lon;
var MANGSANG_lon = context.MANGSANG_lon;
var SOKCHO_lon = context.SOKCHO_lon;
var SONGJUNG_lon = context.SONGJUNG_lon;
var IMRANG_lon = context.IMRANG_lon;
var JUNGMUN_lon = context.JUNGMUN_lon;
var HAE_lon = context.HAE_lon;


var GYEONGPO_lat = context.GYEONGPO_lat;
var GORAEBUL_lat = context.GORAEBUL_lat;
var NAKSAN_lat = context.NAKSAN_lat;
var DAECHON_lat = context.DAECHON_lat;
var MANGSANG_lat = context.MANGSANG_lat;
var SOKCHO_lat = context.SOKCHO_lat;
var SONGJUNG_lat = context.SONGJUNG_lat;
var IMRANG_lat = context.IMRANG_lat;
var JUNGMUN_lat = context.JUNGMUN_lat;
var HAE_lat = context.HAE_lat;


//마커찍기
var markerLayer = new vw.ol3.layer.Marker(vmap); 
vmap.addLayer(markerLayer);
//마커 레이어 생성


// 팝업 엘리먼트
var popup = document.getElementById('popup');

// 마커 생성 함수
function createMarker(id, x, y, epsg, title, contents, iconUrl) {
    var markerOption = {
        x: x,
        y: y,
        epsg: epsg,
        title: title,
        contents: contents,
        iconUrl: iconUrl,
        attr: { id: id }
    };
    var marker = markerLayer.addMarker(markerOption);

    // 마커 클릭 이벤트 추가
    marker.on('click', function(evt) {
        popup.innerHTML = contents;
        popup.style.display = 'block';
        popup.style.left = evt.pixel[0] + 'px';
        popup.style.top = evt.pixel[1] + 'px';
    });

    return markerOption;
}

// 마커 상태 업데이트 함수
function updateMarkerIcon(marker, imgUrl) {
    marker.iconUrl = imgUrl;
    markerLayer.removeMarker(marker);
    markerLayer.addMarker(marker);
}

// 여러 마커 추가
//['GYEONGPO', 'GORAEBUL','NAKSAN','DAECHON','MANGSANG','SOKCHO','SONGJUNG','IMRANG','JUNGMUN','HAE']
var markerData = [
    { id: 'marker1', x: GYEONGPO_lon, y: GYEONGPO_lat, epsg: 'EPSG:4326', title: GYEONGPO_score_msg, contents: GYEONGPO_score_msg, iconUrl: "{% static 'img/red1.png' %}" },
    { id: 'marker2', x: GORAEBUL_lon, y: GORAEBUL_lat, epsg: 'EPSG:4326', title: GORAEBUL_score_msg, contents: GORAEBUL_score_msg, iconUrl: "{% static 'img/green1.png' %}" },
    { id: 'marker3', x: NAKSAN_lon, y: NAKSAN_lat, epsg: 'EPSG:4326', title: NAKSAN_score_msg, contents: NAKSAN_score_msg, iconUrl: "{% static 'img/yellow1.png' %}" },
    { id: 'marker4', x: DAECHON_lon, y: DAECHON_lat, epsg: 'EPSG:4326', title: DAECHON_score_msg, contents: DAECHON_score_msg, iconUrl: "{% static 'img/yellow1.png' %}" },
    { id: 'marker5', x: MANGSANG_lon, y: MANGSANG_lat, epsg: 'EPSG:4326', title: MANGSANG_score_msg, contents: MANGSANG_score_msg, iconUrl: "{% static 'img/yellow1.png' %}" },
    { id: 'marker6', x: SOKCHO_lon, y: SOKCHO_lat, epsg: 'EPSG:4326', title: SOKCHO_score_msg, contents: SOKCHO_score_msg, iconUrl: "{% static 'img/yellow1.png' %}" },
    { id: 'marker7', x: SONGJUNG_lon, y: SONGJUNG_lat, epsg: 'EPSG:4326', title: SONGJUNG_score_msg, contents: SONGJUNG_score_msg, iconUrl: "{% static 'img/yellow1.png' %}" },
    { id: 'marker8', x: IMRANG_lon, y: IMRANG_lat, epsg: 'EPSG:4326', title: IMRANG_score_msg, contents: IMRANG_score_msg, iconUrl: "{% static 'img/yellow1.png' %}" },
    { id: 'marker9', x: JUNGMUN_lon, y: JUNGMUN_lat, epsg: 'EPSG:4326', title: JUNGMUN_score_msg, contents: JUNGMUN_score_msg, iconUrl: "{% static 'img/yellow1.png' %}" },
    { id: 'marker9', x: HAE_lon, y: HAE_lat, epsg: 'EPSG:4326', title: HAE_score_msg, contents: HAE_score_msg, iconUrl: "{% static 'img/yellow1.png' %}" },
    
];

var markers = {};

markerData.forEach(function(marker) {
    markers[marker.id] = createMarker(marker.id, marker.x, marker.y, marker.epsg, marker.title, marker.contents, marker.iconUrl);
});

// 주기적으로 마커 아이콘 업데이트
setInterval(function() {
    Object.keys(markers).forEach(function(id) {
        var newIconUrl = Math.random() > 0.5 ? "{% static 'img/red1.png' %}" : "{% static 'img/green1.png' %}";
        updateMarkerIcon(markers[id], newIconUrl);
    });
}, 5000); // 5초마다 업데이트
</script>





<div class="logo">
<a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" style="width:50px; height:50px;" ></i></a>      
</div> 

<div class="nav-buttons">
    
    <form>
        <div class="search-wrapper">
            <input class="control-search" type="search" placeholder="Search">
            <span class="search-button" type="submit">
                <img src="{% static 'img/search_icon.png' %}" alt="Search" style="width: 30px; height: 30px;">
            </span>
        </div>
    </form>

    <a href="{% url 'signin' %}"><img src="{% static 'img/logout_24dp.png' %}"style="width: 40px; height: 40px;"></a>
    <a href="{% url 'myprofile' %}"><img src="{% static 'img/face_24dp.png' %}" style="width: 40px; height: 40px;"></a>  
</div>

<div class="side-buttons">
    <a href="#"class="btn btn-primary"title="119"data-toggle="modal"data-target="#myModal"><i class="fa fa-phone"></i></a>  
    <a href="#"class="btn btn-primary"title="해군"data-toggle="modal"data-target="#myModal"><i class="fa fa-anchor"></i></a>
    <a href="#"class="btn btn-primary"title="모의훈련"><i class="fa fa-file-alt"></i></a>
    <a href="#"class="btn btn-primary"title="기상예보"><i class="fa fa-cloud-sun"></i></a>
</div>

    <!-- The Modal -->
    <div class="modal"id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
    <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">전화를 거시겠습니까?</h4>
                    <button type="button"class="close"data-dismiss="modal">&times;</button>
                </div>
   <!-- Modal body -->
                <div class="modal-body">
                </div>
    <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button"class="btn btn-success"id="callBtn">걸기</button>
                    <button type="button"class="btn btn-danger"data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
<script>
    document.getElementById('callBtn').addEventListener('click', function() {
        alert('전화를 겁니다.');
        $('#myModal').modal('hide');
});
   </script>

    <div class="warn-alarm">
    <h5>경고알람</h5>
    <div id="textbox1" class="textbox">데이터를 가져오는 중...</div>
    <div id="textbox2" class="textbox">데이터를 가져오는 중...</div>
    <div id="textbox3" class="textbox">데이터를 가져오는 중...</div>
</div>

</div>
        <!-- Back to Top -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/chart/chart.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js'%}"></script>
</body>
    


</html>


