/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

.hanbando-img{
    text-align:center;
    display:table;
    border:1px solid #cecece;
    width:280px;
    height:250px;
}



#map-box{
    width: 100vw;
    height: 100vh;
}
#vmap{
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#control-nav{
    opacity: 1;
}

.side-buttons {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px; /* 버튼 간격을 조정합니다 */
}

.side-buttons a {
    width: 70px;
    height: 70px;
    background-color: #87ceeb; /* 연한 하늘색 */
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative; /* 추가 */
    font-size: 16px; /* 버튼 내 텍스트 크기 */
    padding-top: 4px; /* 텍스트 위치 조정 */
}

.side-buttons a:hover {
    background-color: #4682b4; /* 더 짙은 연한 하늘색 */
}

/* 툴팁 스타일 */
.tooltip-inner {
    background-color: #007bff;
    font-size: 14px;
}

.tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #007bff !important;
}

.nav-buttons {
    position: fixed;
    top: 5%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo{
    position: absolute;
    top: 7%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.nav-buttons .control-search{
    width: 300px; /* 검색창의 너비 */
    padding: 10px 20px; /* 내부 여백 */
    border: 2px solid #ccc; /* 테두리 */
    border-radius: 25px; /* 모서리를 둥글게 설정 */
    font-size: 16px; /* 폰트 크기 */
}
.search-wrapper {
    position: relative;
    width: 300px;
}

.control-search {
    width: 100%; /* 검색창의 너비를 부모의 너비에 맞춤 */
    padding: 10px 20px; /* 내부 여백 */
    padding-right: 40px; /* 아이콘을 위한 오른쪽 여백 추가 */
    border: 2px solid #ccc; /* 테두리 */
    border-radius: 25px; /* 모서리를 둥글게 설정 */
    font-size: 16px; /* 폰트 크기 */
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    z-index: 1000; /* 팝업이 다른 요소 위에 나타나도록 설정 */
}

.warn-alarm {
    position: fixed;
    bottom: 10px; /* 하단에 고정 */
    right: 10px;
    width: calc(100% - 20px); /* 좌우 여백을 고려한 너비 */
    min-width: 300px; /* 최소 너비 설정 */
    max-width: 430px; /* 최대 너비 설정 */
    height: auto;
    max-height: 30vh; /* 기본 최대 높이 설정 */
    margin: auto;
    border: 1px solid #000000;
    padding: 10px;
    background-color: rgba(249, 202, 74, 0.8); /* 투명한 배경 */
    gap: 10px; /* 박스들 사이의 간격 */
    overflow-y: auto; /* 스크롤 허용 */
}



.warn-alarm .textbox {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff; /* 진한 배경 */
}

   /* 모의훈련 모달의 크기 조절 */
#myModal2 .modal-dialog {
    max-width: 1200px; /* 원하는 너비를 설정 */
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

/* 기상예보 모달의 크기 조절 */
#myModal3 .modal-dialog {
    max-width: 1200px; /* 원하는 너비를 설정 */
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}

.footer {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 3;
    background-color: #2d313f; /* 이미지 배경과 일치하도록 색상 설정 */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.footer .footer-logos img {
    width: 40px;
    height: 50px;
    margin: 0 10px; /* 여백을 좁게 설정 */
    vertical-align: middle;
    max-width: 50px; /* 최대 너비 설정 */
    height: auto; /* 높이 자동 조정 */
    }

.footer .footer-info {
    margin-top: 10px; /* 위 마진 줄이기 */
    line-height: 1.8; /* 행간  */
}
.footer .footer-info p {
    margin: 2px 0; /* 상하 마진 줄이기 */
    padding: 0; /* 패딩 제거 */
}

.toggle-container button {
    display: block;
    margin: 5px 0;
}

#toggle-button {
    cursor: pointer;
}
#signup-logo{
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    gap: 10px; /* 요소 간 간격 */
    padding: 20px; /* 내부 여백 */
}
#signin-logo{
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    gap: 10px; /* 요소 간 간격 */
    padding: 20px; /* 내부 여백 */
}



.custom-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 박스 사이의 간격 */
}

.custom-box {
    flex: 1 1 calc(20% - 10px); /* 박스가 가로 방향으로 20% 차지하도록 설정 */
    height: 400px; /* 세로 길이를 고정값으로 설정 */
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.custom-box h6 {
    margin-bottom: 10px;
}

.custom-box hr {
    width: 100%;
    margin: 10px 0;
}

.custom-box img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.custom-box textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px;
}

@media (max-width: 1200px) {
    .custom-box {
        flex: 1 1 calc(33.33% - 10px); /* 화면 작을 때는 3개씩 나열되도록 설정 */
    }
}

@media (max-width: 768px) {
    .custom-box {
        flex: 1 1 calc(50% - 10px); /* 화면 더 작을 때는 2개씩 나열되도록 설정 */
    }
}

@media (max-width: 480px) {
    .custom-box {
        flex: 1 1 calc(100% - 10px); /* 화면 더 더 작을 때는 1개씩 나열되도록 설정 */
    }
}




/* cctv css */
.toggle-key {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.toggle-key::after {
    content: "\f078"; /* Font Awesome down arrow */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle-key.active::after {
    content: "\f077"; /* Font Awesome up arrow */
}
.beach-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #f1f1f1;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
}
.beach-list li {
    padding: 10px;
    cursor: pointer;
}
.beach-list li:hover {
    background: #ddd;
}
/* ////////////////// */


/* weather css */
.weather-box {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-box h6 {
    font-weight: 600;
    font-size: 18px;
    color: #343a40;
    margin-bottom: 15px;
}

.weather-box p {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 10px;
}

.weather-icon {
    font-size: 36px;
    margin-right: 15px;
}
/* ///////////////// */

.btn-h img {
    width: 150px; /* 이미지 원하는 너비 설정 */
    height: auto; /* 이미지 높이 자동 조정 */
}
.btn-h {
    background-color: #ffffff; /* 버튼 배경색을 흰색으로 설정 */
    border: none; /* 테두리 제거 */
    padding: 25px; /* 내부 여백 설정 */
    border-radius: 15px; /* 배경을 15px 정도로 둥글게 설정 */
    display: block; /* 블록 레벨 요소로 설정 */
}
.btn-h .btn-label {
    text-align: left; /* 텍스트 왼쪽 정렬 */
    font-size: 24px; /* 텍스트 크기 설정 */
    margin-top: 10px; /* 텍스트와 이미지 사이 간격 설정 */
}

#CCTV_modal .modal-dialog {
    max-width: 90%; /* 모달 창의 최대 너비를 화면의 90%로 설정 */
    max-height: 90%; /* 모달 창의 최대 높이를 화면의 90%로 설정 */
}

#CCTV_modal .modal-content {
    width: 100%;
    height: 100%;
}

#CCTV_modal .modal-body {
    padding: 0; /* 모달 본문의 패딩을 제거 */
}

#CCTV_modal iframe {
    width: 100%; /* iframe의 너비를 모달 창의 너비에 맞게 설정 */
    height: 80vh; /* iframe의 높이를 뷰포트 높이의 80%로 설정 */
    border: none; /* iframe의 테두리를 제거 */
}



.modal-body {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 10px; /* 버튼들 사이의 간격 */
}

.modal-body button {
    flex: 1 1 auto;
    width: 100px; /* 모든 버튼의 너비를 150px로 설정 */
    height: 40px; /* 모든 버튼의 높이를 40px로 설정 */
    margin: 5px; /* 버튼들 사이의 여유 공간 */
}

.dropdown-menu {
    left: 0; /* 드롭다운 메뉴를 왼쪽 정렬 */
    right: auto; /* 오른쪽 정렬 해제 */
    width: 200px; /* 모든 버튼의 너비를 150px로 설정 */
    
}

.dropdown-menu .beach-btn {
    width: 95%; /* 드롭다운 메뉴 안의 버튼 너비를 계산하여 설정 */
    margin: 5px; /* 버튼들 사이의 여유 공간 */
}