/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}
.footer {
    background-color: var(--light);
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-text {
    text-align: left;
    padding-left: 20px;
}
.footer-info {
    line-height: 1.5;
}
.footer-logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
    padding-right: 20px;
}
.footer-logos a img {
    width: 40px;
    height: auto;
}
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-text, .footer-logos {
        padding-left: 0;
        padding-right: 0;
    }
    .footer-logos {
        justify-content: center;
        margin-top: 10px;
    }
}

/********** Template CSS **********/
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}

/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}

/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 20px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}

/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

.hanbando-img {
    text-align: center;
    display: table;
    border: 1px solid #cecece;
    width: 280px;
    height: 250px;
}

#map-box {
    width: 100vw;
    height: 100vh;
}

#vmap {
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#control-nav {
    opacity: 1;
}

/* 왼쪽 사이드 버튼 */
.side-buttons {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-buttons a {
    width: 70px;
    height: 70px;
    background-color: #003366;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    padding-top: 4px;
}

.side-buttons a:hover {
    background-color: #4682b4;
}

/* 오른쪽 사이드 버튼 */
.side-right-buttons {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-right-buttons a {
    width: 70px;
    height: 70px;
    background-color: #003366;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    padding-top: 4px;
}

.side-right-buttons a:hover {
    background-color: #4682b4;
}

.side-right-buttons p {
    font-size: 14px;
    padding-top: 4px;
    color: white;
    margin-top: 6px;
}

/* 툴팁 스타일 */
.tooltip-inner {
    background-color: #007bff;
    font-size: 14px;
}

.tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #007bff !important;
}

.nav-buttons {
    position: fixed;
    top: 8%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.nav-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-item {
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#current-time {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    top: 3%;
    right: 20px;
}

.logo {
    position: absolute;
    top: 7%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-buttons .control-search {
    width: 300px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

.search-wrapper {
    position: relative;
    width: 300px;
}

.control-search {
    width: 100%;
    padding: 10px 20px;
    padding-right: 40px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.warn-alarm {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: calc(100% - 20px);
    min-width: 300px;
    max-width: 430px;
    height: auto;
    max-height: 30vh;
    margin: auto;
    border: 1px solid #000000;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    gap: 10px;
    overflow-y: auto;
    border-radius: 10px;
}

.h5-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.warn-alarm .textbox {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* 모의훈련 모달의 크기 조절 */
#myModal2 .modal-dialog {
    max-width: 1200px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

/* 기상예보 모달의 크기 조절 */
#myModal3 .modal-dialog {
    max-width: 1200px;
    margin: auto;
    top: 50%;
    transform: translateY(-30%);
    height: 100%;
}

.footer-logos img {
    width: 40px;
    height: auto;
    margin: 0 10px;
    max-width: 50px;
}

.footer .footer-info {
    padding-top: 20px;
    margin-top: 2px;
    line-height: 0.5;
    margin: 2px 0;
}

.toggle-container button {
    display: block;
    margin: 5px 0;
}

#toggle-button {
    cursor: pointer;
}

#signup-logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#signin-logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.custom-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.custom-box {
    flex: 1 1 calc(20% - 10px);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.custom-box h6 {
    margin-bottom: 10px;
}

.custom-box hr {
    width: 100%;
    margin: 10px 0;
}

.custom-box img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.custom-box textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px;
}

@media (max-width: 1200px) {
    .custom-box {
        flex: 1 1 calc(33.33% - 10px);
    }
}

@media (max-width: 768px) {
    .custom-box {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .custom-box {
        flex: 1 1 calc(100% - 10px);
    }
}

/* cctv css */
.toggle-key {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.toggle-key::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle-key.active::after {
    content: "\f077";
}

.beach-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #f1f1f1;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
}

.beach-list li {
    padding: 10px;
    cursor: pointer;
}

.beach-list li:hover {
    background: #ddd;
}

.btn-h img {
    width: 150px;
    height: auto;
}

.btn-h {
    background-color: #ffffff;
    border: none;
    padding: 25px;
    border-radius: 15px;
    display: block;
    border: 4px solid #003366;
}

.btn-h .btn-label {
    text-align: left;
    font-size: 24px;
    margin-top: 10px;
}

/* team_info.css */
.team-section-button {
    color: #007bff;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.team-section-button:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

#team {
    background-color: #f8f9fa;
    padding: 20px;
}

.card-img-top {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.card {
    min-height: 300px;
}

.card-title {
    margin-bottom: 0;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
    color: #6c757d;
}

#CCTV_modal .modal-dialog {
    max-width: 90%;
    max-height: 90%;
}

#CCTV_modal .modal-content {
    width: 100%;
    height: 100%;
}

#CCTV_modal .modal-body {
    padding: 0;
}

#CCTV_modal iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

.modal-body {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-body button {
    flex: 1 1 auto;
    width: 100px;
    height: 40px;
    margin: 5px;
}

.dropdown-menu {
    left: 0;
    right: auto;
    width: 200px;
}

.dropdown-menu .beach-btn {
    width: 95%;
    margin: 5px;
}

.policy-section-button {
    transition: background-color 0.3s, color 0.3s;
}

.policy-section-button.active,
.policy-section-button:hover {
    background-color: #007bff;
    color: white;
}

.risk-table-container {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.risk-table-container h3 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: #1d2124;
}

.risk-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.risk-table thead {
    background-color: #004085;
    color: #fff;
}

.risk-table thead th {
    padding: 1rem;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}

.risk-table tbody tr {
    transition: background-color 0.2s ease;
}

.risk-table tbody tr:hover {
    background-color: #e9ecef;
}

.risk-table tbody td {
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    text-align: left;
    font-size: 1rem;
    color: #1d2124;
}

.risk-table tbody td:first-child {
    font-weight: 600;
}

.risk-accordion .accordion-item {
    border: none;
    border-bottom: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

.risk-accordion .accordion-header {
    background-color: #004085;
    color: #fff;
}

.risk-accordion .accordion-button {
    background-color: #004085;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.risk-accordion .accordion-button:not(.collapsed) {
    background-color: #0056b3;
}

.risk-accordion .accordion-button:hover {
    background-color: #003366;
}

.risk-accordion .accordion-button:focus {
    box-shadow: none;
}

.risk-accordion .accordion-body {
    padding: 1rem 1.5rem;
    background-color: #e9ecef;
}

.risk-accordion img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.risk-accordion .btn-primary {
    background-color: #004085;
    border-color: #004085;
    transition: background-color 0.2s ease;
}

.risk-accordion .btn-primary:hover {
    background-color: #003366;
    border-color: #003366;
}

.risk-accordion .risk-prediction {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
}

.risk-accordion .risk-prediction strong {
    display: inline-block;
    margin-right: 0.5rem;
}

.beach-region {
    font-size: 3em;
    font-weight: bold;
}

.prediction-level {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000ba;
}

.weather-box {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-box h6 {
    font-weight: 600;
    font-size: 18px;
    color: #ffffffb1;
    margin-bottom: 15px;
}

.weather-box p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.weather-icon {
    font-size: 36px;
    margin-right: 15px;
}

.marine-logo {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

.marine-weather-box {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(0deg, #013d787c, #003366);
}

.marine-weather-title {
    font-size: 1.5em;
    color: #ffffffdb;
}

.marine-weather-info {
    font-size: 1.2em;
    color: #ffffff;
}

.marine-weather-icon {
    font-size: 2em;
    vertical-align: middle;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .marine-logo {
        width: 30px;
    }

    .marine-weather-title {
        font-size: 1.2em;
    }

    .marine-weather-info {
        font-size: 1em;
    }
}

.cctv-page #main-footer {
    display: none;
}

#main-logo {
    margin-left: 20px;
}

#contentbox-1 {
    height: 80%;
}

#contentbox-2 {
    height: 100%;
}

#contentbox-3 {
    min-height: 70vh;
    overflow-y: auto; 
}

#admin_contentbox-1 {
    height: 80%;
}

#admin_contentbox-2 {
    height: 100%;
}

#admin_contentbox-3 {
    height: 90%;
}

.custom-modal-content {
    background-color: #ffffff;
    border: 2px solid #003366;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.status-description-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #003366;
    border-radius: 8px;
    background-color: #e6f0ff;
}

.status-description-box {
    margin-bottom: 10px;
    text-align: center;
}

.status-description-table {
    width: 100%;
    border-collapse: collapse;
}

.status-description-table th,
.status-description-table td {
    border: 1px solid #003366;
    padding: 8px;
    text-align: left;
}

.status-description-table th {
    background-color: #003366;
    color: #ffffff;
}

.status-description-table td {
    background-color: #f0f8ff;
}

.status-safe {
    color: #28a745;
}

.status-warning {
    color: #dc3545;
}

.cctv-status-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 20px;
}

.cctv-box {
    flex: 2;
    margin-right: 10px;
}

.status-box-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-cctv-frame {
    width: 100%;
    height: auto;
    border: 2px solid #003366;
    border-radius: 10px;
}

.status-box {
    background-color: #e6f0ff;
    border: 2px solid #003366;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.status-text {
    font-size: 16px;
    font-weight: bold;
    color: #003366;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn-secondary {
    background-color: #003366;
    border: none;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #002244;
}

.custom-close-btn {
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
}

.custom-close-btn:hover {
    background-color: #c9302c;
}


.header-bar {
    background-color: #004085; /* 원하는 배경 색상으로 변경 */
    color: white; /* 텍스트 색상 */
    padding: 10px 20px; /* 패딩 추가 */
    border-radius: 8px; /* 모서리를 둥글게 */
}

.header-bar h4 {
    margin: 0;
    color: white;

}


.marine-weather-icon {
    color: #fec034
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu-custom {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    backdrop-filter: blur(10px);
    padding: 0;
    z-index: 1000;
    width: 200px;
    list-style: none;
}

.nav-item:hover .dropdown-menu-custom {
    max-height: 200px; /* 드롭다운 메뉴의 최대 높이를 설정합니다 */
    padding: 10px 0;
}

.dropdown-item-custom {
    padding: 10px 45px;
    color: #333;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.dropdown-item-custom.active {
    background-color: rgba(0, 123, 255, 0.2);
    color: #007bff;
}

.dropdown-item-custom:hover {
    background-color: rgba(0, 123, 255, 0.1);
    color: #007bff;
}


/* ////////chat css */
.chat-window {
    border: 1px solid #003366;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    padding: 0;
}

.chat-header {
    background-color: #003366;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #002244;
    margin: 0;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.chat-body {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #f0f8ff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #d1e7ff;
    padding: 8px 12px;
    border-radius: 5px;
    color: #003366;
}

.chat-message.user {
    align-self: flex-end;
    background-color: #cce5ff;
    color: #003366;
}

.button-group {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}

.chat-footer {
    display: flex;
    gap: 5px;
}

.chat-footer input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-footer button {
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loading-spinner {
    display: none;
    width: 3rem;
    height: 3rem;
    border: 0.5rem solid #f3f3f3;
    border-top: 0.5rem solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* 전체 채팅 박스 스타일 */
.chat-box {
background-color: #f9f9f9; /* 채팅창 배경색 */
border-radius: 10px; /* 둥근 모서리 */
border: 1px solid #e0e0e0; /* 얇은 테두리 */
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
overflow: hidden;
height: calc(100% - 50px); /* 버튼과 입력창을 제외한 높이 */
display: flex;
flex-direction: column;
}

/* 채팅 내용 스타일 */
#chat-content {
padding: 10px;
overflow-y: auto; /* 스크롤이 필요할 때만 나타나도록 */
flex: 1; /* 내용이 가능한 공간을 모두 차지하도록 */
}

/* 채팅 메시지 박스 스타일 */
.chat-message {
display: flex;
flex-direction: column;
margin-bottom: 10px;
padding: 8px 12px;
border-radius: 5px;
color: #003366;
max-width: 100%; /* 메시지 박스의 최대 너비 설정 */
word-break: break-word; /* 긴 단어를 줄 바꿈 */
}

.chat-message strong {
display: block;
margin-bottom: 5px;
}

/* 사용자 메시지 스타일 (오른쪽 정렬) */
.chat-message.user {
background-color: #d1e7ff; /* 사용자 메시지 배경색 */
align-self: flex-end; /* 메시지를 오른쪽으로 정렬 */
border-bottom-right-radius: 0; /* 오른쪽 아래 모서리 각도 0으로 설정 */
}

/* 상대방 메시지 스타일 (왼쪽 정렬) */
.chat-message.other {
background-color: #ffffff; /* 상대방 메시지 배경색 */
align-self: flex-start; /* 메시지를 왼쪽으로 정렬 */
border-bottom-left-radius: 0; /* 왼쪽 아래 모서리 각도 0으로 설정 */
}

/* 입력창과 버튼 그룹 */
.input-group {
background-color: #ffffff; /* 입력창과 버튼 배경색 */
border-top: 1px solid #e0e0e0; /* 상단 테두리 */
display: flex;
align-items: center;
{% comment %} display:none; {% endcomment %}
}

/* 입력창 스타일 */
#question-input {
border-radius: 20px;
border: 1px solid #ccc;
padding: 10px;
font-size: 14px;
flex: 1; /* 입력창이 가능한 공간을 모두 차지하도록 */
margin-right: 10px; /* 입력창과 버튼 사이에 여백 추가 */
}

/* 전송 버튼 스타일 */
#send-button {
background-color: #003366; /* 버튼 배경색 */
border: none;
border-radius: px;
color: #ffffff;
padding: 10px 20px;
font-size: 14px;
cursor: pointer;
transition: background-color 0.3s;
}

/* 전송 버튼 호버 효과 */
#send-button:hover {
background-color: #0056b3; /* 버튼 호버 색상 */
}

/* 버튼 그룹 스타일 */
.button-group {
display: grid;
grid-template-columns: repeat(4, 1fr); /* 4 columns */
gap: 10px; /* Gap between buttons */
margin-top: 20px;
padding: 10px;
}

.btn-custom {
background-color: #003366; /* 버튼 배경색 */
color: #ffffff; /* 버튼 글자색 */
border: none; /* 테두리 없음 */
border-radius: 5px; /* 둥근 모서리 */
width: 100%; /* 버튼 너비를 그리드 셀에 맞추기 */
height: 50px; /* 버튼 높이 고정 */
display: flex; /* 플렉스 박스 사용 */
align-items: center; /* 수직 가운데 정렬 */
justify-content: center; /* 수평 가운데 정렬 */
font-size: 14px; /* 글자 크기 */
cursor: pointer; /* 마우스 커서가 포인터로 변경 */
transition: background-color 0.3s ease; /* 배경색 변화 애니메이션 */
}


/* 버튼 기본 스타일 */
.button-group .btn-custom {
background-color: #003366; /* 버튼 배경색 */
color: #ffffff; /* 버튼 텍스트 색상 */
border: none; /* 기본 테두리 없음 */
border-radius: 13px; /* 둥근 모서리 */
padding: 10px 20px; /* 버튼의 여백 */
font-size: 14px; /* 버튼 텍스트 크기 */
cursor: pointer; /* 커서 모양 변경 */
transition: background-color 0.3s, transform 0.2s; /* 배경색과 변형 효과에 대한 트랜지션 */
margin-bottom: 10px; /* 버튼 하단 여백 */
}

/* 버튼 호버 스타일 */
.button-group .btn-custom:hover {
background-color: #002244; /* 버튼 호버 배경색 */
transform: translateY(-2px); /* 호버 시 살짝 떠오르는 효과 */
}

/* 버튼 활성화 스타일 (선택적) */
.button-group .btn-custom:active {
background-color: #001a33; /* 버튼 클릭 시 배경색 */
transform: translateY(0); /* 클릭 시 위치 유지 */
}

.bg-light.text-center.rounded.p-4.h-100 {
    border: 2px solid #003366; /* 청색 테두리 추가 */
}    

.evaluation-box {
    border-radius: 10px; /* 둥근 모서리 */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* 섹션 간의 간격 */
    color: #000000; /* 글자색 */
    height: 100vh;
}

#form-group-chat {
    background-color: #ffffff; /* 타이머 섹션 배경색 */
    border: 3px solid #034e98; /* 섹션 테두리 색 */
    border-radius: 5px; /* 둥근 모서리 */
    padding: 15px; /* 내부 여백 */
    margin-bottom: 10px; /* 섹션 간 간격 */
}

#form-group-chat:last-child {
    background-color: #d1e7ff;
    border: 3px solid #034e98;
    padding: 20px;
}

.stopwatch {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #666666; /* 글자색 */
}

.record {
    font-size: 14px;
    color: #ff0000; /* 기록 글자색 */
}

#btn-start-chat, #btn-stop-chat {
    font-size: 14px; /* 버튼 글자 크기 */
    padding: 8px 12px; /* 버튼 내부 여백 */
    border-radius: 5px; /* 둥근 모서리 */
    margin-right: 5px; /* 버튼 간 간격 */
    border: none; /* 버튼 테두리 없음 */
}

#btn-start-chat {
    background-color: #003366; /* 시작 버튼 배경색 */
    color: #ffffff; /* 버튼 글자색 */
}

#btn-stop-chat {
    background-color: #ff0000; /* 정지 버튼 배경색 */
    color: #ffffff; /* 버튼 글자색 */
}

#btn-start-chat:hover {
    background-color: #3e5e7d; /* 마우스 호버 시 배경색 변경 */
}

#btn-stop-chat:hover {
    background-color: #d54747; /* 마우스 호버 시 배경색 변경 */
}

/* 강조된 총 훈련 시간 섹션 스타일 */
.final-time-section {
    background-color: #0066cc; /* 총 훈련 시간 강조 색 */
    border: 1px solid #005bb5; /* 강조 색 테두리 */
    padding: 20px;
    border-radius: 10px;
    
}

.final-time-section h6 {
    font-size: 18px;
    font-weight: bold;
}

.final-time-section .stopwatch {
    font-size: 32px; /* 총 시간 큰 글씨 */
}

.final-time-section .btn {
    font-size: 16px; /* 버튼 글자 크기 */
    padding: 10px 15px; /* 버튼 내부 여백 */
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 5px;
    margin-right: 5px;
    border: none;
}


/* 레이블 스타일 */
.form-label {
    color: #000000; /* 레이블 텍스트 색상 */
    font-size: 18px; /* 레이블 텍스트 크기 */
    margin-bottom: 5px;
}

/* 글쓰기 입력창 css */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    max-width: 200px; /* 필요한 경우 max-width를 조정할 수 있습니다 */
    width: 100%;
}

.custom-select-width {
    width: 100%;
    padding-right: 30px; /* 오른쪽 여백을 추가하여 화살표 아이콘과 겹치지 않도록 합니다 */
}

.custom-select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    transform: translateY(-50%);
}