/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}
.footer {
    background-color: var(--light);
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-text {
    text-align: left;
    padding-left: 20px;
}
.footer-info {
    line-height: 1.5;
}
.footer-logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
    padding-right: 20px;
}
.footer-logos a img {
    width: 40px;
    height: auto;
}
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-text, .footer-logos {
        padding-left: 0;
        padding-right: 0;
    }
    .footer-logos {
        justify-content: center;
        margin-top: 10px;
    }
}

/********** Template CSS **********/
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}

/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}

/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 20px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}

/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

.hanbando-img {
    text-align: center;
    display: table;
    border: 1px solid #cecece;
    width: 280px;
    height: 250px;
}

#map-box {
    width: 100vw;
    height: 100vh;
}

#vmap {
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#control-nav {
    opacity: 1;
}

/* 왼쪽 사이드 버튼 */
.side-buttons {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-buttons a {
    width: 70px;
    height: 70px;
    background-color: #87ceeb;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    padding-top: 4px;
}

.side-buttons a:hover {
    background-color: #4682b4;
}

/* 오른쪽 사이드 버튼 */
.side-right-buttons {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-right-buttons a {
    width: 70px;
    height: 70px;
    background-color: #87ceeb;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    padding-top: 4px;
}

.side-right-buttons a:hover {
    background-color: #4682b4;
}

.side-right-buttons p {
    font-size: 14px;
    padding-top: 4px;
    color: white;
    margin-top: 6px;
}

/* 툴팁 스타일 */
.tooltip-inner {
    background-color: #007bff;
    font-size: 14px;
}

.tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #007bff !important;
}

.nav-buttons {
    position: fixed;
    top: 8%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.nav-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-item {
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#current-time {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    top: 3%;
    right: 20px;
}

.logo {
    position: absolute;
    top: 7%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-buttons .control-search {
    width: 300px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

.search-wrapper {
    position: relative;
    width: 300px;
}

.control-search {
    width: 100%;
    padding: 10px 20px;
    padding-right: 40px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.warn-alarm {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: calc(100% - 20px);
    min-width: 300px;
    max-width: 430px;
    height: auto;
    max-height: 30vh;
    margin: auto;
    border: 1px solid #000000;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    gap: 10px;
    overflow-y: auto;
    border-radius: 10px;
}

.h5-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.warn-alarm .textbox {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* 모의훈련 모달의 크기 조절 */
#myModal2 .modal-dialog {
    max-width: 1200px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

/* 기상예보 모달의 크기 조절 */
#myModal3 .modal-dialog {
    max-width: 1200px;
    margin: auto;
    top: 50%;
    transform: translateY(-30%);
    height: 100%;
}

.footer-logos img {
    width: 40px;
    height: auto;
    margin: 0 10px;
    max-width: 50px;
}

.footer .footer-info {
    padding-top: 20px;
    margin-top: 2px;
    line-height: 0.5;
    margin: 2px 0;
}

.toggle-container button {
    display: block;
    margin: 5px 0;
}

#toggle-button {
    cursor: pointer;
}

#signup-logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#signin-logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.custom-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.custom-box {
    flex: 1 1 calc(20% - 10px);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.custom-box h6 {
    margin-bottom: 10px;
}

.custom-box hr {
    width: 100%;
    margin: 10px 0;
}

.custom-box img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.custom-box textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px;
}

@media (max-width: 1200px) {
    .custom-box {
        flex: 1 1 calc(33.33% - 10px);
    }
}

@media (max-width: 768px) {
    .custom-box {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .custom-box {
        flex: 1 1 calc(100% - 10px);
    }
}

/* cctv css */
.toggle-key {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.toggle-key::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle-key.active::after {
    content: "\f077";
}

.beach-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #f1f1f1;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
}

.beach-list li {
    padding: 10px;
    cursor: pointer;
}

.beach-list li:hover {
    background: #ddd;
}

.btn-h img {
    width: 150px;
    height: auto;
}

.btn-h {
    background-color: #ffffff;
    border: none;
    padding: 25px;
    border-radius: 15px;
    display: block;
    border: 4px solid #003366;
}

.btn-h .btn-label {
    text-align: left;
    font-size: 24px;
    margin-top: 10px;
}

/* team_info.css */
.team-section-button {
    color: #007bff;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.team-section-button:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

#team {
    background-color: #f8f9fa;
    padding: 20px;
}

.card-img-top {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.card {
    min-height: 300px;
}

.card-title {
    margin-bottom: 0;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
    color: #6c757d;
}

#CCTV_modal .modal-dialog {
    max-width: 90%;
    max-height: 90%;
}

#CCTV_modal .modal-content {
    width: 100%;
    height: 100%;
}

#CCTV_modal .modal-body {
    padding: 0;
}

#CCTV_modal iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

.modal-body {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-body button {
    flex: 1 1 auto;
    width: 100px;
    height: 40px;
    margin: 5px;
}

.dropdown-menu {
    left: 0;
    right: auto;
    width: 200px;
}

.dropdown-menu .beach-btn {
    width: 95%;
    margin: 5px;
}

.policy-section-button {
    transition: background-color 0.3s, color 0.3s;
}

.policy-section-button.active,
.policy-section-button:hover {
    background-color: #007bff;
    color: white;
}

.risk-table-container {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.risk-table-container h3 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: #1d2124;
}

.risk-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.risk-table thead {
    background-color: #004085;
    color: #fff;
}

.risk-table thead th {
    padding: 1rem;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}

.risk-table tbody tr {
    transition: background-color 0.2s ease;
}

.risk-table tbody tr:hover {
    background-color: #e9ecef;
}

.risk-table tbody td {
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    text-align: left;
    font-size: 1rem;
    color: #1d2124;
}

.risk-table tbody td:first-child {
    font-weight: 600;
}

.risk-accordion .accordion-item {
    border: none;
    border-bottom: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

.risk-accordion .accordion-header {
    background-color: #004085;
    color: #fff;
}

.risk-accordion .accordion-button {
    background-color: #004085;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.risk-accordion .accordion-button:not(.collapsed) {
    background-color: #0056b3;
}

.risk-accordion .accordion-button:hover {
    background-color: #003366;
}

.risk-accordion .accordion-button:focus {
    box-shadow: none;
}

.risk-accordion .accordion-body {
    padding: 1rem 1.5rem;
    background-color: #e9ecef;
}

.risk-accordion img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.risk-accordion .btn-primary {
    background-color: #004085;
    border-color: #004085;
    transition: background-color 0.2s ease;
}

.risk-accordion .btn-primary:hover {
    background-color: #003366;
    border-color: #003366;
}

.risk-accordion .risk-prediction {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
}

.risk-accordion .risk-prediction strong {
    display: inline-block;
    margin-right: 0.5rem;
}

.beach-region {
    font-size: 3em;
    font-weight: bold;
}

.prediction-level {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000ba;
}

.weather-box {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-box h6 {
    font-weight: 600;
    font-size: 18px;
    color: #ffffffb1;
    margin-bottom: 15px;
}

.weather-box p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.weather-icon {
    font-size: 36px;
    margin-right: 15px;
}

.marine-logo {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

.marine-weather-box {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(0deg, #013d787c, #003366);
}

.marine-weather-title {
    font-size: 1.5em;
    color: #ffffffdb;
}

.marine-weather-info {
    font-size: 1.2em;
    color: #ffffff;
}

.marine-weather-icon {
    font-size: 2em;
    vertical-align: middle;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .marine-logo {
        width: 30px;
    }

    .marine-weather-title {
        font-size: 1.2em;
    }

    .marine-weather-info {
        font-size: 1em;
    }
}

.cctv-page #main-footer {
    display: none;
}

#main-logo {
    margin-left: 20px;
}

#contentbox-1 {
    height: 80%;
}

#contentbox-2 {
    height: 100%;
}

#contentbox-3 {
    height: 70vh;
}

#admin_contentbox-1 {
    height: 80%;
}

#admin_contentbox-2 {
    height: 100%;
}

#admin_contentbox-3 {
    height: 90%;
}

.custom-modal-content {
    background-color: #ffffff;
    border: 2px solid #003366;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.status-description-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #003366;
    border-radius: 8px;
    background-color: #e6f0ff;
}

.status-description-box {
    margin-bottom: 10px;
    text-align: center;
}

.status-description-table {
    width: 100%;
    border-collapse: collapse;
}

.status-description-table th,
.status-description-table td {
    border: 1px solid #003366;
    padding: 8px;
    text-align: left;
}

.status-description-table th {
    background-color: #003366;
    color: #ffffff;
}

.status-description-table td {
    background-color: #f0f8ff;
}

.status-safe {
    color: #28a745;
}

.status-warning {
    color: #dc3545;
}

.cctv-status-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 20px;
}

.cctv-box {
    flex: 2;
    margin-right: 10px;
}

.status-box-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-cctv-frame {
    width: 100%;
    height: auto;
    border: 2px solid #003366;
    border-radius: 10px;
}

.status-box {
    background-color: #e6f0ff;
    border: 2px solid #003366;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.status-text {
    font-size: 16px;
    font-weight: bold;
    color: #003366;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn-secondary {
    background-color: #003366;
    border: none;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #002244;
}

.custom-close-btn {
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
}

.custom-close-btn:hover {
    background-color: #c9302c;
}


.header-bar {
    background-color: #004085; /* 원하는 배경 색상으로 변경 */
    color: white; /* 텍스트 색상 */
    padding: 10px 20px; /* 패딩 추가 */
    border-radius: 8px; /* 모서리를 둥글게 */
}

.header-bar h4 {
    margin: 0;
    color: white;

}