{% extends "base/admin_base.html" %}
{% block title %}관리자 홈페이지{% endblock %}

{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">관리자 홈</h3>
</a>
{% endblock %}

{% block content %}
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">총 회원 현황</p>
                    <h6 class="mb-0">{{ user_count }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">총 관리 해수욕장 현황</p>
                    <h6 class="mb-0">{{ beach_count }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">공지사항 현황</p>
                    <h6 class="mb-0">{{ notice_board_count }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">자유게시판 현황</p>
                    <h6 class="mb-0">{{ board_count }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hidden elements to store chart data -->
<div id="chart-hours-data" style="display: none;">{{ hours|safe }}</div>
<div id="chart-counts-data" style="display: none;">{{ counts|safe }}</div>

<!-- Hourly Login Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">시간대별 접속자 수</h6>
                    <a href="">Show All</a>
                </div>
                <canvas id="hourlyLoginChart"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Hourly Login Chart End -->

<!-- Beach List Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">해수욕장 리스트</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">번호</th>
                        <th scope="col">이름</th>
                        <th scope="col">지역</th>
                        <th scope="col">위도</th>
                        <th scope="col">경도</th>
                    </tr>
                </thead>
                <tbody>
                    {% for beach in beaches %}
                    <tr>
                        <td>{{ beach.beach_no }}</td>
                        <td>{{ beach.beach_name }}</td>
                        <td>{{ beach.beach_region }}</td>
                        <td>{{ beach.beach_lat }}</td>
                        <td>{{ beach.beach_lon }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Beach List End -->

<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Messages</h6>
                    <a href="">Show All</a>
                </div>
                {% for message in messages %}
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src='/static/img/user.jpg' alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">{{ message.from }}</h6>
                            <small>{{ message.deliver_date }}</small>
                        </div>
                        <span>{{ message.text }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Calender</h6>
                    <a href="">Show All</a>
                </div>
                <div id="calender"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- Widgets End -->
{% endblock %}