
{% extends "base/admin_base.html" %}
{% block title %}자유게시판 관리{% endblock %}

{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">자유게시판 관리</h3>
</a>
{% endblock %}

{% block user_info %}
<h6 class="mb-0">27조</h6>
<span>admin</span>
{% endblock %}

{% block content %}
  <!-- Notices Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h4 class="mb-0">자유게시판 목록</h4> <!-- Increased font size for Notices -->
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="d-flex">
                                    <div class="dropdown me-2">
                                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            {% if request.GET.beach_no %}
                                                {% for beach in beaches %}
                                                    {% if beach.beach_no == request.GET.beach_no %}
                                                        {{ beach.beach_name }}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if request.GET.beach_no == 'common' %}
                                                    공통
                                                {% endif %}
                                            {% else %}
                                                전체
                                            {% endif %}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="?">전체</a>
                                            <a class="dropdown-item" href="#" data-beach-no="common">공통</a>
                                            {% for beach in beaches %}
                                                <a class="dropdown-item" href="#" data-beach-no="{{ beach.beach_no }}">{{ beach.beach_name }}</a>
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button id="deleteButton" class="btn btn-primary">삭제</button> <!-- Delete Button -->
                            </div>
                        </div>
                        <!-- Table for Notices -->
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 5%;">
                                            <input type="checkbox" id="selectAll">
                                        </th>
                                        <th scope="col" style="width: 5%;">글 번호</th> <!-- Adjusted width for Title -->
                                        <th scope="col" style="width: 55%;">제목</th> <!-- Adjusted width for Title -->
                                        <th scope="col" style="width: 15%;">작성자</th> <!-- Adjusted width for Author -->
                                        <th scope="col" style="width: 25%;">등록일</th> <!-- Adjusted width for Date -->
                                        
                                    </tr>
                                </thead>
                                <tbody id="noticeTableBody">
                                    {% for post in page_obj %}
                                    <tr data-id="{{ post.event_id }}">
                                        <td><input type="checkbox" class="selectRow"></td>
                                        <td>{{ forloop.counter0|add:page_obj.start_index}}</td>  <!-- 글 번호 자동 생성 -->
                                        <td><a href="{% url 'adminpanel:board_detail' post.pk %}">{{ post.event_title }}</a></td>
                                        <td>{{ post.user_no.user_name }}</td>
                                        <td>{{ post.event_wdate | date:"Y-m-d H:i" }}</td>
                                        
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5">No posts found.</td> <!-- Adjusted colspan -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination Controls -->
                        <div class="d-flex justify-content-center">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link" href="?page=1&beach_no={{ request.GET.beach_no }}&type={{ request.GET.type }}&q={{ request.GET.q|urlencode }}" aria-label="First">
                                            <span aria-hidden="true">&laquo;&laquo;</span>
                                        </a>
                                    </li>
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if page_obj.number == num %}
                                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                    {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}&beach_no={{ request.GET.beach_no }}&type={{ request.GET.type }}&q={{ request.GET.q|urlencode }}">{{ num }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&beach_no={{ request.GET.beach_no }}&type={{ request.GET.type }}&q={{ request.GET.q|urlencode }}" aria-label="Last">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End of Pagination Controls -->
                        <!-- Search Bar -->
                        <div class="container pt-4">
                            <div class="row justify-content-center"> <!-- 중앙 정렬 -->
                                <div class="col-lg-6">
                                    <form action="{% url 'adminpanel:board_manage' %}" method="get" onsubmit="return validateSearchForm()">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <select class="form-select" name="type">
                                                    <option value="all" {% if request.GET.type == 'all' %}selected{% endif %}>전체</option>
                                                    <option value="title" {% if request.GET.type == 'title' %}selected{% endif %}>제목</option>
                                                    <option value="content" {% if request.GET.type == 'content' %}selected{% endif %}>내용</option>
                                                    <option value="writer" {% if request.GET.type == 'writer' %}selected{% endif %}>작성자</option>
                                                </select>
                                                <input class="form-control" type="search" placeholder="검색" name="q" value="{{ request.GET.q }}" aria-label="Search">
                                                <input type="hidden" name="beach_no" value="{{ request.GET.beach_no }}">
                                                <button class="btn btn-outline-primary" type="submit">검색</button>
                                            </div>
                                            <p id="errorMessage" style="color:red; display:none;">검색어는 2글자 이상 입력해주세요!</p>
                                        </div>
                                    </form>                                                                               
                                </div>
                            </div>
                        </div>      
                        <!-- End of Search Bar -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Notices End -->

   
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
</div>


{% endblock %}


{% block end-script %}
 <!-- JavaScript to handle deletion -->
 <script>
    document.getElementById('selectAll').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('.selectRow');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });

    // post 삭제
    document.getElementById('deleteButton').addEventListener('click', function() {
        if(confirm('정말로 삭제하시겠습니까?')) {
            var checkboxes = document.querySelectorAll('.selectRow:checked');
            var idsToDelete = [];
            checkboxes.forEach(function(checkbox) {
                idsToDelete.push(checkbox.closest('tr').getAttribute('data-id'));
            });
            if (idsToDelete.length > 0) {
                fetch('{% url 'adminpanel:delete_boards' %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ ids: idsToDelete })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.status === "success") {
                        location.reload(); // 성공시 페이지 리로드
                    } else {
                        alert("Error: " + data.message); // 실패시 메시지 출력
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }
    });        
</script> 

<script> // 구분 버튼 키 이름 변경
    document.addEventListener('DOMContentLoaded', function() {
        const dropdownItems = document.querySelectorAll('.dropdown-item');
        const dropdownButton = document.getElementById('dropdownMenuButton');
        const currentUrl = new URL(window.location);
        const currentParams = currentUrl.searchParams;
        
        dropdownItems.forEach(item => {
            item.addEventListener('click', function() {
                currentParams.set('beach_no', this.getAttribute('data-beach-no'));
                currentParams.set('page', '1'); // 선택 시 페이지를 리셋
                currentUrl.search = currentParams.toString();
                window.location.href = currentUrl.toString();
            });
        });
    
        const selectedBeachNo = currentParams.get('beach_no');
        dropdownItems.forEach(item => {
            if (item.getAttribute('data-beach-no') === selectedBeachNo) {
                dropdownButton.textContent = item.textContent;
            }
        });
    });
</script>

<script>// 검색 기능 에러 알람
    function validateSearchForm() {
        var searchInput = document.querySelector('input[name="q"]');
        var errorMessage = document.getElementById('errorMessage');
        if (searchInput.value.length < 2) {
            errorMessage.style.display = 'block'; // 오류 메시지를 표시
            return false; // 폼 제출을 방지
        }
        errorMessage.style.display = 'none'; // 오류 메시지를 숨김
        return true; // 폼 제출을 계속
    }
</script>
{% endblock %}