{% extends "base/admin_base.html" %}
{% block title %}{{ post.event_title }}{% endblock %}

{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">자유게시판 관리</h3>
</a>
{% endblock %}

{% block user_info %}
<h6 class="mb-0">27조</h6>
<span>admin</span>
{% endblock %}

{% block content %}
        <!-- Event Detail Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="bg-light text-center rounded p-4">
                        <h4 class="mb-3">{{ post.event_title }}</h4> <!-- =Event Title -->
                        <div class="d-flex justify-content-between">
                            <span>작성자: {{ post.user_no.user_name }}</span>
                            <span>구분: {% if post.beach_no %}{{ post.beach_no.beach_name }}{% else %}공통{% endif %}</span>
                            <span>작성일시: {{ post.event_wdate|date:"Y-m-d H:i" }}</span>
                            <span>조회수: {{ post.event_views }}</span>
                        </div>
                        <hr>
                        <div class="text-start">
                            {% if post.event_img %}
                            <div>
                                <img src="{{ post.event_img }}" alt="첨부 이미지" style="max-width: 100%; height: auto;">
                                <div>
                                    <a href="{{ post.event_img }}" target="_blank">첨부파일 다운로드</a>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                        <hr>
                        <div class="text-end">
                            <a href="{% url 'adminpanel:board_manage' %}" class="btn btn-primary">목록으로</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Event Detail End -->
    </div>
    <!-- Content End -->

  </div>
{% endblock %}
