{% extends "base/admin_base.html" %}
{% block title %}공지사항 새 글 작성{% endblock %}

{% block extra-style %}
   <style>
        .input-group, .form-group {
            margin-bottom: 15px;
        }
        .form-control {
            border-radius: 10px;
        }
        .btn-primary {
            background-color: #007bff;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 16px;
        }
        .btn-primary:hover {
            background-color: #0056b3;
        }
        .input-group-text {
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            border-radius: 10px 0 0 10px;
        }
        .form-control:focus {
            box-shadow: none;
        }
        .custom-select {
            border-radius: 10px 0 0 10px;
            border: 1px solid #ced4da;
        }
        .input-group-prepend {
            border-radius: 10px 0 0 10px;
        }
        .input-group-prepend .custom-select {
            border-radius: 0 10px 10px 0;
        }
    </style>
{% endblock %}

{% block sidebar_brand %}
    <a class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary">공지사항 글 작성</h3>
    </a>
{% endblock %}

{% block content %}
            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4" style="height: 80%;">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">게시판 글쓰기 양식</h6>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <div class="custom-select-wrapper">
                                        <select class="custom-select form-control" name="beach_no">
                                            <option value="" selected>공통</option>
                                            {% for beach in beaches %}
                                                <option value="{{ beach.beach_no }}">{{ beach.beach_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="custom-select-arrow"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="제목" name="notice_title" maxlength="50" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="notice_contents">본문</label>
                                    <textarea class="form-control" id="notice_contents" placeholder="본문을 작성하시오.." name="notice_contents" maxlength="2048" style="height: 350px;" required></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="notice_img">파일 업로드</label>
                                    <input type="file" class="form-control" id="notice_img" name="notice_img">
                                </div>
                                <button type="submit" class="btn btn-primary">글쓰기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
