{% extends "base/admin_base.html" %}
{% block title %}업로드{% endblock %}

{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">CSV 파일 업로드</h3>
</a>
{% endblock %}

{% block user_info %}
<h6 class="mb-0">27조</h6>
<span>admin</span>
{% endblock %}

{% block content %}
        <div class="container">
            <h2 class="mt-4">CSV 파일 업로드</h2>
                <form method="post" enctype="multipart/form-data" action="{% url 'adminpanel:csv_upload' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="csvFile" class="form-label">CSV 파일 선택</label>
                        <input class="form-control" type="file" id="csvFile" name="csv_file" required>
                    </div>
                    <button type="submit" class="btn btn-primary">업로드</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}
