{% extends "base/admin_base.html" %}
{% block title %}{{ post.notice_title }}{% endblock %}

{% block sidebar_brand %}
    <a class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary">공지사항 관리</h3>
    </a>
{% endblock %}

{% block content %}
            <!-- Notice Detail Start -->
            <div class="container-fluid pt-4 px-4" id="contentbox-1">
                <div class="row g-4" id="contentbox-2">
                    <div class="col-lg-12">
                        <div class="bg-light text-center rounded p-4" id="contentbox-3">
                            <h4 class="mb-3">{{ post.notice_title }}</h4> <!-- Notice Title -->
                            <div class="d-flex justify-content-between">
                                <span>작성자: {{ post.user_no.user_name }}</span>
                                <span>구분: {% if post.beach_no %}{{ post.beach_no.beach_name }}{% else %}공통{% endif %}</span>
                                <span>작성일시: {{ post.notice_wdate|date:"Y-m-d H:i" }}</span>
                                <span>조회수: {{ post.notice_views }}</span>
                            </div>
                            <hr>
                            <div class="text-start">
                                <div id="viewContent">
                                    <p style="white-space: pre-line;">{{ post.notice_contents }}</p>
                                    {% if post.notice_img and post.notice_img != "None" %}
                                    <div>
                                        <img src="{{ post.notice_img }}" alt="첨부 이미지" style="max-width: 100%; height: auto; max-height: 500px;">
                                        <div>
                                            <a href="#"  id="downloadButton">첨부파일 다운로드 ({{notice_img_filename}})</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                {% if post.user_no == user and user.user_role == 'admin' %}
                                <form id="editForm" method="POST" enctype="multipart/form-data" style="display:none;">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="notice_title" class="form-label">제목</label>
                                        <input type="text" class="form-control" id="notice_title" name="notice_title" value="{{ post.notice_title }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="beach_no" class="form-label">구분</label>
                                        <select class="form-select" id="beach_no" name="beach_no">
                                            <option value="" {% if not post.beach_no %}selected{% endif %}>공통</option>
                                            {% for beach in beaches %}
                                            <option value="{{ beach.beach_no }}" {% if post.beach_no and post.beach_no.beach_no == beach.beach_no %}selected{% endif %}>{{ beach.beach_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="notice_contents" class="form-label">내용</label>
                                        <textarea class="form-control" id="notice_contents" name="notice_contents" rows="5">{{ post.notice_contents }}</textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="notice_img" class="form-label">첨부파일</label>
                                        <input type="file" class="form-control" id="notice_img" name="notice_img">
                                        <input type="hidden" name="existing_notice_img" value="{{ post.notice_img }}">
                                        {% if post.notice_img and post.notice_img != "None" %}
                                        <div class="mt-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="delete_notice_img" name="delete_notice_img">
                                                <label class="form-check-label" for="delete_event_img">
                                                    첨부파일 삭제 ({{notice_img_filename}})
                                                </label>
                                                <br>
                                                <img src="{{ post.notice_img }}" alt="첨부 이미지" style="width: 10%; height:10%;">
                                            </div>
                                        </div>
                                        {% endif %} 
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <button type="submit" class="btn btn-primary">저장</button>
                                            <button id="deleteButton" class="btn btn-danger">삭제</button>
                                        </div>
                                        <button type="button" id="cancelEditButton" class="btn btn-secondary">취소</button>
                                    </div>
                                </form>
                                <div class="d-flex justify-content-between mt-3">
                                    <button id="editButton" class="btn btn-warning">수정</button>
                                </div>            
                                {% endif %}
                            </div>
                            <hr>
                            <div class="text-end">
                                <a href="{% url 'adminpanel:notice_manage' %}" class="btn btn-primary">목록으로</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        <script>
        document.addEventListener('DOMContentLoaded', function() {
            var editButton = document.getElementById('editButton');
            var cancelEditButton = document.getElementById('cancelEditButton');
            var editForm = document.getElementById('editForm');
            var viewContent = document.getElementById('viewContent');

            if (editButton) {
                editButton.addEventListener('click', function() {
                    editForm.style.display = 'block';
                    viewContent.style.display = 'none';
                    editButton.style.display = 'none';
                });

                cancelEditButton.addEventListener('click', function() {
                    editForm.style.display = 'none';
                    viewContent.style.display = 'block';
                    editButton.style.display = 'block';
                });

                editForm.addEventListener('submit', function(event) {
                    event.preventDefault();

                    var formData = new FormData(editForm);

                    fetch("{% url 'adminpanel:edit_notice' post.pk %}", {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            location.reload();
                        } else {
                            alert('저장에 실패했습니다.');
                            if (data.errors) {
                                console.log(data.errors); // 오류 메시지를 콘솔에 출력합니다.
                            } else {
                                console.log(data.error); // 오류 메시지를 콘솔에 출력합니다.
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                });
            }
            if (downloadButton) {
                downloadButton.addEventListener('click', function() {
                    fetch("{% url 'adminpanel:generate_presigned_url' post.pk %}")
                    .then(response => response.json())
                    .then(data => {
                        if (data.url) {
                            window.location.href = data.url;
                        } else {
                            alert('파일 다운로드에 실패했습니다.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                });
            }
        });
    </script>
{% endblock %}
