{% extends "base/admin_base.html" %}
{% block title %}훈련시나리오 관리{% endblock %}

{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">훈련 시나리오</h3>
</a>
{% endblock %}

{% block user_info %}
<h6 class="mb-0">27조</h6>
<span>admin</span>
{% endblock %}

<style>
    .text-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table td,
    .table th {
        vertical-align: middle;
    }
</style>


{% block content %}
<div class="container-fluid pt-4 px-4" id="contentbox-1">
    <div class="row g-4" id="contentbox-2">
        <div class="col-lg-12">
            <div class="bg-light text-center rounded p-4" id="contentbox-3">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="mb-0">훈련시나리오 목록</h4>
                    <div class="d-flex">
                        <a href="{% url 'adminpanel:csv_upload' %}" class="btn btn-secondary me-2">csv 업로드</a>
                        <div class="dropdown me-2">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                유형
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"style="background-color: transparent;">
                                <a class="dropdown-item" href="?scenario_code=">전체</a>
                                <a class="dropdown-item" href="?scenario_code=익수자">익수자</a>
                                <a class="dropdown-item" href="?scenario_code=실종">실종</a>
                                <a class="dropdown-item" href="?scenario_code=불법">불법</a>
                                <a class="dropdown-item" href="?scenario_code=해양오염">해양오염</a>
                                <a class="dropdown-item" href="?scenario_code=의료지원">의료지원</a>
                                <a class="dropdown-item" href="?scenario_code=생물 보호">생물 보호</a>
                                <a class="dropdown-item" href="?scenario_code=피서객 안전">피서객 안전</a>
                                <a class="dropdown-item" href="?scenario_code=수상레저">수상레저</a>
                            </div>
                        </div>
                        <button id="deleteButton" class="btn btn-primary">삭제</button>
                    </div>
                </div>
                <div class="table-responsive" style="height: 80%;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 5%;">
                                    <input type="checkbox" id="selectAll">
                                </th>
                                <th scope="col" style="width: 5%;">인덱스</th>
                                <th scope="col" style="width: 8%;">유형</th>
                                <th scope="col" style="width: 5%;">시간</th>
                                <th scope="col" style="width: 15%;">상황</th>
                                <th scope="col" style="width: 32%;">절차</th>
                                <th scope="col" style="width: 10%;">목표</th>
                                <th scope="col" style="width: 20%;">QA</th>
                            </tr>
                        </thead>
                        <tbody id="noticeTableBody">
                            {% for scenario in page_obj %}
                            <tr data-id="{{ scenario.scenario_id }}">
                                <td><input type="checkbox" class="selectRow"></td>
                                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                                <td>{{ scenario.scenario_code }}</td>
                                <td>{{ scenario.scenario_time|date:"Y-m-d H:i" }}</td>
                                <td class="text-truncate" style="max-width: 150px;">{{ scenario.scenario_situation }}</td>
                                <td class="text-truncate" style="max-width: 350px;">{{ scenario.scenario_process }}</td>
                                <td class="text-truncate" style="max-width: 100px;">{{ scenario.scenario_goals }}</td>
                                <td class="text-truncate" style="max-width: 200px;">{{ scenario.scenario_qa }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8">No scenarios found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                <a class="page-link" href="?page=1{% if scenario_code %}&scenario_code={{ scenario_code }}{% endif %}" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}{% if scenario_code %}&scenario_code={{ scenario_code }}{% endif %}">{{ num }}</a></li>
                            {% endif %}
                            {% endfor %}
                            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if scenario_code %}&scenario_code={{ scenario_code }}{% endif %}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


 <script>
    document.getElementById('selectAll').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('.selectRow');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });

    // post 삭제
    document.getElementById('deleteButton').addEventListener('click', function() {
        if(confirm('정말로 삭제하시겠습니까?')) {
            var checkboxes = document.querySelectorAll('.selectRow:checked');
            var idsToDelete = [];
            checkboxes.forEach(function(checkbox) {
                idsToDelete.push(checkbox.closest('tr').getAttribute('data-id'));
            });
            if (idsToDelete.length > 0) {
                fetch('{% url 'adminpanel:delete_senario' %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ ids: idsToDelete })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.status === "success") {
                        location.reload(); // 성공시 페이지 리로드
                    } else {
                        alert("Error: " + data.message); // 실패시 메시지 출력
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }
    });        
</script>

{% endblock %}
