{% extends "base/base.html" %}

{% block title %}{{ post.notice_title }}{% endblock %}

{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">공지사항</h3>
</a>
{% endblock %}

{% block content %}
            <!-- Notice Detail Start -->
            <div class="container-fluid pt-4 px-4"id="contentbox-1">
                <div class="row g-4"id="contentbox-2">
                    <div class="col-lg-12">
                        <div class="bg-light text-center rounded p-4"id="contentbox-3">
                            <h4 class="mb-3">{{ post.notice_title }}</h4> <!-- Notice Title -->
                            <div class="d-flex justify-content-between">
                                <span>작성자: {{ post.user_no.user_name }}</span>
                                <span>구분: {% if post.beach_no %}{{ post.beach_no.beach_name }}{% else %}공통{% endif %}</span>
                                <span>작성일시: {{ post.notice_wdate|date:"Y-m-d H:i" }}</span>
                                <span>조회수: {{ post.notice_views }}</span>
                            </div>
                            <hr>
                            <div class="text-start">
                                {% if post.notice_img and post.notice_img != "None" %}
                                <div>
                                    <img src="{{ post.notice_img }}" alt="첨부 이미지" style="max-width: 100%; height: auto;">
                                    <div>
                                        <a href="#" id="downloadButton" >첨부파일 다운로드 ({{notice_img_filename}})</a>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                            <hr>
                            <div class="text-end">
                                <a href="{% url 'board' %}" class="btn btn-primary">목록으로</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<script>
document.addEventListener('DOMContentLoaded', function()  {
    if (downloadButton) {
        downloadButton.addEventListener('click', function() {
            fetch("{% url 'board_generate_presigned_url' post.pk %}")
            .then(response => response.json())
            .then(data => {
                if (data.url) {
                    window.location.href = data.url;
                } else {
                    alert('파일 다운로드에 실패했습니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    }

});
</script>
      
{% endblock %}



