{% extends "base/base.html" %}
{% block title %}CCTV{% endblock %}

{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">CCTV</h3>
</a>
{% endblock %}

{% block content %}
<!-- CCTV Display Start -->
<body>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">해당 CCTV 팝업창</h6>
            </div>
            <!-- Dropdown menu for beach selection -->
            <div class="dropdown cctv-dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    해수욕장 선택
                </button>
                <ul id="beach-list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!-- 드롭다운 메뉴 항목은 JavaScript로 동적으로 생성됩니다 -->
                </ul>
            </div>
            <div class="video-container">
                <iframe id="cctv-frame" width="1400" height="750" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const beaches = [
                { beach_no: 1, beach_name: '함덕해수욕장' },
                { beach_no: 2, beach_name: '중문해수욕장' }
            ];

            const cctvs = [
                { beach_no_id: 1, cctv_url: 'http://www.trendworld.kr/cctv/hamdeok.php' },
                { beach_no_id: 2, cctv_url: 'http://www.trendworld.kr/cctv/jungmunhaesuyokjang.php' }
            ];

            const beachList = document.getElementById('beach-list');

            beaches.forEach(beach => {
                cctvs.forEach(cctv => {
                    if (cctv.beach_no_id === beach.beach_no) {
                        const listItem = document.createElement('li');
                        const linkItem = document.createElement('a');
                        linkItem.className = 'dropdown-item';
                        linkItem.href = '#';
                        linkItem.textContent = beach.beach_name;
                        linkItem.onclick = function () {
                            loadCCTV(cctv.cctv_url);
                        };
                        listItem.appendChild(linkItem);
                        beachList.appendChild(listItem);
                    }
                });
            });
        });

        function loadCCTV(url) {
            const iframe = document.getElementById('cctv-frame');
            iframe.src = url;

           
        }
    </script>
{% endblock %}
