{% extends "base/base.html" %}
{% block title %}CCTV{% endblock %}

{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">CCTV</h3>
</a>
{% endblock %}

{% block content %}
        <!-- CCTV Display Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">해당 CCTV 팝업창</h6>
                        </div>

                        <!-- Dropdown menu for beach selection -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                해수욕장 선택
                            </button>
                            <ul id="beach-list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for beach in beaches %}
                                    {% for cctv in cctvs %}
                                        {% if cctv.beach_no_id == beach.beach_no %}
                                            <li><a class="dropdown-item" onclick="loadCCTV('{{ cctv.cctv_url }}')">{{ beach.beach_name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                            <iframe id="cctv-frame" width="1400" height="650" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CCTV Display End -->

    </div>
    <!-- Content End -->

  
 <!-- 추가된 자바스크립트 -->
 <script>
    function toggleSearch() {
        const toggleKey = document.querySelector('.toggle-key');
        const beachList = document.getElementById('beach-list');
        toggleKey.classList.toggle('active');
        if (beachList.style.display === 'none' || beachList.style.display === '') {
            beachList.style.display = 'block';
        } else {
            beachList.style.display = 'none';
        }
    }

    function loadCCTV(url) {
        document.getElementById('cctv-frame').src = url;
    }
</script>
</div>
<!-- Sales Chart End -->
{% endblock %}
