{% extends "base/base.html" %}
{% block title %}홈{% endblock %}

{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">홈페이지</h3>
</a>
{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- Map Image Section -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4 header-bar">
                    <h4 class="mb-0">해수욕장 AI 위험도 실시간 감지 </h4>
                </div>               
                <div id="vmap" style="width:100%;height:650px;left:0px;top:0px"></div>
                <script type="text/javascript" src="http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=80973894-487D-3977-BA22-621594681047&domain=www.test.com/map.html"></script>
                <script type="text/javascript">
                    vw.ol3.CameraPosition.center = [14181282.145818451,4362116.114066147];
                    vw.ol3.CameraPosition.zoom = 6.5;
                    vw.ol3.MapOptions = {
                        basemapType: vw.ol3.BasemapType.GRAPHIC_WHITE,
                        controlDensity: vw.ol3.DensityType.EMPTY,
                        interactionDensity: vw.ol3.DensityType.BASIC,
                        controlsAutoArrange: true,
                        homePosition: vw.ol3.CameraPosition,
                        initPosition: vw.ol3.CameraPosition
                    };
        
                    let vmap = new vw.ol3.Map("vmap", vw.ol3.MapOptions); 
        
                    // Disable mouse wheel zoom
                    vmap.getInteractions().forEach(function(interaction) {
                        if (interaction instanceof ol.interaction.MouseWheelZoom) {
                            vmap.removeInteraction(interaction);
                        }
                    });
        
                    var markerLayer = new vw.ol3.layer.Marker(vmap); 
                    vmap.addLayer(markerLayer);
        
                    var contextRipData = JSON.parse('{{ context_rip_json|escapejs }}');
        
                    var GYEONGPO_score_msg = contextRipData.GYEONGPO_score_msg;
                    var GORAEBUL_score_msg = contextRipData.GORAEBUL_score_msg;
                    var NAKSAN_score_msg = contextRipData.NAKSAN_score_msg;
                    var DAECHON_score_msg = contextRipData.DAECHON_score_msg;
                    var MANGSANG_score_msg = contextRipData.MANGSANG_score_msg;
                    var SOKCHO_score_msg = contextRipData.SOKCHO_score_msg;
                    var SONGJUNG_score_msg = contextRipData.SONGJUNG_score_msg;
                    var IMRANG_score_msg = contextRipData.IMRANG_score_msg;
                    var JUNGMUN_score_msg = contextRipData.JUNGMUN_score_msg;
                    var HAE_score_msg = contextRipData.HAE_score_msg;
        
                    var GYEONGPO_lon = contextRipData.GYEONGPO_lon;
                    var GORAEBUL_lon = contextRipData.GORAEBUL_lon;
                    var NAKSAN_lon = contextRipData.NAKSAN_lon;
                    var DAECHON_lon = contextRipData.DAECHON_lon;
                    var MANGSANG_lon = contextRipData.MANGSANG_lon;
                    var SOKCHO_lon = contextRipData.SOKCHO_lon;
                    var SONGJUNG_lon = contextRipData.SONGJUNG_lon;
                    var IMRANG_lon = contextRipData.IMRANG_lon;
                    var JUNGMUN_lon = contextRipData.JUNGMUN_lon;
                    var HAE_lon = contextRipData.HAE_lon;
        
                    var GYEONGPO_lat = contextRipData.GYEONGPO_lat;
                    var GORAEBUL_lat = contextRipData.GORAEBUL_lat;
                    var NAKSAN_lat = contextRipData.NAKSAN_lat;
                    var DAECHON_lat = contextRipData.DAECHON_lat;
                    var MANGSANG_lat = contextRipData.MANGSANG_lat;
                    var SOKCHO_lat = contextRipData.SOKCHO_lat;
                    var SONGJUNG_lat = contextRipData.SONGJUNG_lat;
                    var IMRANG_lat = contextRipData.IMRANG_lat;
                    var JUNGMUN_lat = contextRipData.JUNGMUN_lat;
                    var HAE_lat = contextRipData.HAE_lat;
        
                    var popup = document.getElementById('popup');
        
                    function createMarker(id, x, y, epsg, title, contents, iconUrl) {
                        var markerOption = {
                            x: x,
                            y: y,
                            epsg: epsg,
                            title: title,
                            contents: contents,
                            iconUrl: iconUrl,
                            attr: { id: id }
                        };
                        var marker = markerLayer.addMarker(markerOption);
        
                        marker.on('click', function(evt) {
                            popup.innerHTML = contents;
                            popup.style.display = 'block';
                            popup.style.left = evt.pixel[0] + 'px';
                            popup.style.top = evt.pixel[1] + 'px';
                        });
        
                        return markerOption;
                    }
        
                    function updateMarkerIcon(marker, imgUrl) {
                        marker.iconUrl = imgUrl;
                        markerLayer.removeMarker(marker);
                        markerLayer.addMarker(marker);
                    }
        
                    function getColorScoreMsg(score_msg) { 
                        switch (score_msg) {
                            case "관심":
                                return '/static/img/green1.png';
                            case "주의":
                                return '/static/img/yellow1.png';
                            case "경계":
                                return '/static/img/oring1.png';
                            case "위험":
                                return '/static/img/red2.png';
                            case "NaN":
                                return '/static/img/white1.png';
                            default:
                                return "/static/img/white1.png";
                        }
                    }
        
                    var markerData = [
                        { id: 'marker1', x: GYEONGPO_lon, y: GYEONGPO_lat, epsg: 'EPSG:4326', title: '경포 해수욕장', contents: GYEONGPO_score_msg, iconUrl: getColorScoreMsg(GYEONGPO_score_msg) },
                        { id: 'marker2', x: GORAEBUL_lon, y: GORAEBUL_lat, epsg: 'EPSG:4326', title: '고래불 해수욕장', contents: GORAEBUL_score_msg, iconUrl: getColorScoreMsg(GORAEBUL_score_msg) },
                        { id: 'marker3', x: NAKSAN_lon, y: NAKSAN_lat, epsg: 'EPSG:4326', title: '낙산 해수욕장', contents: NAKSAN_score_msg, iconUrl: getColorScoreMsg(NAKSAN_score_msg) },
                        { id: 'marker4', x: DAECHON_lon, y: DAECHON_lat, epsg: 'EPSG:4326', title: '대천 해수욕장', contents: DAECHON_score_msg, iconUrl: getColorScoreMsg(DAECHON_score_msg) },
                        { id: 'marker5', x: MANGSANG_lon, y: MANGSANG_lat, epsg: 'EPSG:4326', title: '망상 해수욕장', contents: MANGSANG_score_msg, iconUrl: getColorScoreMsg(MANGSANG_score_msg) },
                        { id: 'marker6', x: SOKCHO_lon, y: SOKCHO_lat, epsg: 'EPSG:4326', title: '속초 해수욕장', contents: SOKCHO_score_msg, iconUrl: getColorScoreMsg(SOKCHO_score_msg) },
                        { id: 'marker7', x: SONGJUNG_lon, y: SONGJUNG_lat, epsg: 'EPSG:4326', title: '송정 해수욕장', contents: SONGJUNG_score_msg, iconUrl: getColorScoreMsg(SONGJUNG_score_msg) },
                        { id: 'marker8', x: IMRANG_lon, y: IMRANG_lat, epsg: 'EPSG:4326', title: '임랑 해수욕장', contents: IMRANG_score_msg, iconUrl: getColorScoreMsg(IMRANG_score_msg) },
                        { id: 'marker9', x: JUNGMUN_lon, y: JUNGMUN_lat, epsg: 'EPSG:4326', title: '중문 해수욕장', contents: JUNGMUN_score_msg, iconUrl: getColorScoreMsg(JUNGMUN_score_msg) },
                        { id: 'marker10', x: HAE_lon, y: HAE_lat, epsg: 'EPSG:4326', title: '해운대 해수욕장', contents: HAE_score_msg, iconUrl: getColorScoreMsg(HAE_score_msg) },
                    ];
        
                    var markers = {};
        
                    markerData.forEach(function(marker) {
                        markers[marker.id] = createMarker(marker.id, marker.x, marker.y, marker.epsg, marker.title, marker.contents, marker.iconUrl);
                    });
        
                    $(document).ready(function() {
                        function fetchApiTime() {
                            $.ajax({
                                url: '/home', 
                                method: 'GET',
                                dataType: 'json',
                                success: function(data) {
                                    var GYEONGPO_score_msg = data.GYEONGPO_score_msg;
                                    var GORAEBUL_score_msg = data.GORAEBUL_score_msg;
                                    var NAKSAN_score_msg = data.NAKSAN_score_msg;
                                    var DAECHON_score_msg = data.DAECHON_score_msg;
                                    var MANGSANG_score_msg = data.MANGSANG_score_msg;
                                    var SOKCHO_score_msg = data.SOKCHO_score_msg;
                                    var SONGJUNG_score_msg = data.SONGJUNG_score_msg;
                                    var IMRANG_score_msg = data.IMRANG_score_msg;
                                    var JUNGMUN_score_msg = data.JUNGMUN_score_msg;
                                    var HAE_score_msg = data.HAE_score_msg;
        
                                    $('#GYEONGPO_score_msg').text(GYEONGPO_score_msg);
                                    $('#GORAEBUL_score_msg').text(GORAEBUL_score_msg);
                                    $('#NAKSAN_score_msg').text(NAKSAN_score_msg);
                                    $('#DAECHON_score_msg').text(DAECHON_score_msg);
                                    $('#MANGSANG_score_msg').text(MANGSANG_score_msg);
                                    $('#SOKCHO_score_msg').text(SOKCHO_score_msg);
                                    $('#SONGJUNG_score_msg').text(SONGJUNG_score_msg);
                                    $('#IMRANG_score_msg').text(IMRANG_score_msg);
                                    $('#JUNGMUN_score_msg').text(JUNGMUN_score_msg);
                                    $('#HAE_score_msg').text(HAE_score_msg);
                                },
                                error: function(error) {
                                    console.log('Error:', error);
                                }
                            });
                        }
        
                        fetchApiTime();
                        setInterval(fetchApiTime, 60000 * 3);
                    });
        
                    let style = new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: [0, 255, 0, .7],
                            width: 3
                        }),
                        fill: new ol.style.Fill({
                            color: [255, 0, 0, .4]
                        })
                    });
        
                    polygon_feature.setStyle(style);
        
                    let vector_layer = new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: [polygon_feature]
                        })
                    });
        
                    vmap.addLayer(vector_layer);
        
                    vmap.on("click", function(evt) {
                        let coordinate = evt.coordinate;
                        let pixel = evt.pixel;
        
                        vmap.forEachFeatureAtPixel(pixel, function(feature, layer) {
                            let name = feature.get("name");
                            alert(name);
                        });
                    });
                </script>
            </div>
        </div>
        
        <link rel="stylesheet" href="h_btn.css">

        <div class="col-sm-12 col-xl-4 mb-4" id="home-right-box" style="max-width: 50%; width: 100%;">
    <div class="bg-light text-center rounded p-3 d-flex flex-column justify-content-around" style = "height:103% ">
        <div class="btn-container mb-3">
            <a href="{% url 'cctv' %}" class="btn-h btn-block">
                <img src="/static/img/cctv_move.gif" alt="CCTV" >
                <span class="btn-label">해수욕장 CCTV</span>
            </a>
        </div>
        <div class="btn-container my-3">
            <a href="{% url 'weather' %}" class="btn-h btn-block">
                <img src="/static/img/weather_move.gif" alt="Weather">
                <span class="btn-label">실시간 날씨</span>
            </a>
        </div>
        <div class="btn-container mt-3">
            <a href="{% url 'risk' %}" class="btn-h btn-block">
                <img src="/static/img/risk_move.gif" alt="Risk">
                <span class="btn-label">이안류 위험도</span>
                
            </a>
        </div>
    </div>
</div>



<!-- Notice and Free Board Tabs -->
<div class="col-sm-12 col-xl-12">
    <div class="bg-light text-center rounded p-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="notice-tab" data-bs-toggle="tab" data-bs-target="#notice" type="button" role="tab" aria-controls="notice" aria-selected="true">공지사항</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="freeboard-tab" data-bs-toggle="tab" data-bs-target="#freeboard" type="button" role="tab" aria-controls="freeboard" aria-selected="false">자유 게시판</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="notice" role="tabpanel" aria-labelledby="notice-tab">
                <div id="notice-board" class="mt-4">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 70%;">제목</th>
                                <th scope="col" style="width: 30%;">날짜</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for notice in home_notices %}
                                <tr>
                                    <td><a href="{% url 'board_detail' notice.pk %}">{{ notice.notice_title }}</a></td>
                                    <td>{{ notice.notice_wdate|date:"Y-m-d" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="freeboard" role="tabpanel" aria-labelledby="freeboard-tab">
                <div id="free-board" class="mt-4">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 70%;">제목</th>
                                <th scope="col" style="width: 30%;">날짜</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in home_event %}
                                <tr>
                                    <td><a href="{% url 'freeboard_detail' event.pk %}">{{ event.event_title }}</a></td>
                                    <td>{{ event.event_wdate|date:"Y-m-d" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    function loadHomeNoticeBoard(url) {
        document.getElementById('cctv-frame').src = url;
    }
</script>
{% endblock %}
