
{% extends "base/base.html" %}
{% block title %}내 게시글{% endblock %}

{% block extra-style %}
<style>
    .alert-message {
        position: fixed;
        top: 70px;
        right: 20px;
        z-index: 1050;
        display: none;
    }
</style>       
{% endblock %}



{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">내 게시글</h3>
</a>
{% endblock %}


{% block content %}
      <!-- Notices Start -->
      <div class="container-fluid pt-4 px-4" id="contentbox-1">
        <div class="row g-4"id="contentbox-2">
            <div class="col-lg-12">
                <div class="bg-light text-center rounded p-4"id="contentbox-3">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h4 class="mb-0">내 게시글 목록</h4>
                        <div class="d-flex">
                            <a href="{% url 'create_freeboard' %}" class="btn btn-secondary me-2">글쓰기</a> 
                            <div class="dropdown me-2">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    구분
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"style="background-color: transparent;">
                                    <a class="dropdown-item" href="?">전체</a>
                                    <a class="dropdown-item" href="?beach_no=common">공통</a>
                                    {% for beach in beaches %}
                                        <a class="dropdown-item" href="?beach_no={{ beach.beach_no }}">{{ beach.beach_name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <button id="deleteButton" class="btn btn-primary">삭제</button>
                        </div>
                    </div>
                    <!-- Table for Notices -->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 5%;">
                                    <input type="checkbox" id="selectAll">
                                    </th>
                                    <th scope="col" style="width: 5%;">글 번호</th>
                                    <th scope="col" style="width: 15%;">구분</th> 
                                    <th scope="col" style="width: 50%;">제목</th> 
                                    <th scope="col" style="width: 10%;">작성자</th> 
                                    <th scope="col" style="width: 10%;">등록일시</th>
                                    <th scope="col" style="width: 10%;">조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in page_obj %}
                                    <tr data-id="{{ event.event_id }}">
                                        <td><input type="checkbox" class="selectRow"></td>
                                        <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                                        <td>
                                            {% if event.beach_no %}
                                                {{ event.beach_no.beach_name }}
                                            {% else %}
                                                공통
                                            {% endif %}
                                        </td>
                                        <td><a href="{% url 'freeboard_detail' event.pk %}">{{ event.event_title }}</a></td>
                                        <td>{{ event.user_no.user_name }}</td>
                                        <td>{{ event.event_wdate | date:"Y-m-d" }}</td>
                                        <td>{{ event.event_views }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6">No posts found.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination Controls -->
                    <div class="d-flex justify-content-center">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                    <a class="page-link" href="?page=1{% if request.GET.beach_no %}&beach_no={{ request.GET.beach_no }}{% endif %}&q={{ search_query }}" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.beach_no %}&beach_no={{ request.GET.beach_no }}{% endif %}&q={{ search_query }}">{{ num }}</a></li>
                                {% endif %}
                                {% endfor %}
                                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.beach_no %}&beach_no={{ request.GET.beach_no }}{% endif %}&q={{ search_query }}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End of Pagination Controls -->
                      <!-- Search Bar -->
                      <div class="container pt-4">
                        <div class="row justify-content-center"> 
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="form-select">
                                            <option selected>제목</option>
                                            <option value="1">작성자</option>
                                        </select>
                                    </div>
                                    <input class="form-control" type="search" placeholder="검색" aria-label="Search">
                                    <button class="btn btn-outline-primary" type="submit">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Search Bar -->                                                        
                </div>
            </div>
        </div>
    </div>
    <!-- Notices End -->

<!-- Custom JavaScript for alert messages -->
<script>
document.getElementById('selectAll').addEventListener('change', function() {
    var checkboxes = document.querySelectorAll('.selectRow');
    for (var checkbox of checkboxes) {
        checkbox.checked = this.checked;
    }
});

document.getElementById('deleteButton').addEventListener('click', function() {
    if(confirm('정말로 삭제하시겠습니까?')) {
        var checkboxes = document.querySelectorAll('.selectRow:checked');
        var idsToDelete = [];
        checkboxes.forEach(function(checkbox) {
            idsToDelete.push(checkbox.closest('tr').getAttribute('data-id'));
        });
        if (idsToDelete.length > 0) {
            fetch('{% url 'adminpanel:delete_boards' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ ids: idsToDelete })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.status === "success") {
                    location.reload(); 
                } else {
                    alert("Error: " + data.message); 
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }
});


function showAlert(message, alertType) {
    const alertBox = document.createElement('div');
    alertBox.className = `alert alert-${alertType} alert-message`;
    alertBox.textContent = message;

    document.body.appendChild(alertBox);

    alertBox.style.display = 'block';

    setTimeout(() => {
        alertBox.style.display = 'none';
        alertBox.remove();
    }, 3000);
}


{% if messages %}
    {% for message in messages %}
        showAlert("{{ message }}", "{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}");
    {% endfor %}
{% endif %}
</script>

{% endblock %}


