{% extends "base/base.html" %}
{% block title %}위험도{% endblock %}

{% block sidebar_brand %}
<a class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary">위험도</h3>
</a>
{% endblock %}

{% block user_info %}
<h6 class="mb-0">27조</h6>
<span>admin</span>
{% endblock %}

{% block content %}
<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="mb-0">해수욕장 별 위험도 예측 정보 박스</h4>
                </div>
                <!-- Start of 10 boxes in a 2x5 grid -->
                <div class="custom-box-container">
                    {% for beach, prediction in predictions.items %}
                    <div class="custom-box">
                        <h6 class="mb-3">{{ beach }}</h6>
                        <hr>
                        <textarea placeholder="해수욕장 설명 {{ forloop.counter }}">{{ prediction }}</textarea>
                    </div>
                    {% endfor %}
                </div>
                <!-- End of the next row for boxes 6-10 -->
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart End -->

<!-- Footer Start -->
<!-- Footer End -->
</div>
<!-- Content End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- Sales Chart End -->
{% endblock %}
